<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.343913561179699" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.343913561179699" rpy="0 0 0"/>
            <geometry>
                <box size="0.6232848121231013 0.05169026617714667 0.6878271223593972" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.343913561179699" rpy="0 0 0"/>
            <geometry>
                <box size="0.6232848121231013 0.05169026617714667 0.6878271223593972" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.025845133088573335 2.6878271223593972" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.025845133088573335 -0.3439135611796986" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.025845133088573335 -0.3439135611796986" rpy="0 0 0"/>
            <geometry>
                <box size="0.6232848121231013 0.05169026617714667 0.6878271223593972" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.025845133088573335 -0.3439135611796986" rpy="0 0 0"/>
            <geometry>
                <box size="0.6232848121231013 0.05169026617714667 0.6878271223593972" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.31164240606155064 0.025845133088573335 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.2174969665878822 0 0.48300450658775024" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2174969665878822 0 0.48300450658775024" rpy="0 0 0"/>
            <geometry>
                <box size="0.4349939331757644 0.7793928720897072 0.9660090131755005" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2174969665878822 0 0.48300450658775024" rpy="0 0 0"/>
            <geometry>
                <box size="0.4349939331757644 0.7793928720897072 0.9660090131755005" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.4349939331757644 0 0.9660090131755005" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0900500009557555 0 -0.17284454949911665" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0900500009557555 0 -0.17284454949911665" rpy="0 0 0"/>
            <geometry>
                <box size="0.180100001911511 0.5077766675898346 0.3456890989982333" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0900500009557555 0 -0.17284454949911665" rpy="0 0 0"/>
            <geometry>
                <box size="0.180100001911511 0.5077766675898346 0.3456890989982333" />
            </geometry>
        </collision>
    </link>
</robot>