<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0947351089316837" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0947351089316837" rpy="0 0 0"/>
            <geometry>
                <box size="0.03370163087057365 0.9786078005536667 0.18947021786336715" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0947351089316837" rpy="0 0 0"/>
            <geometry>
                <box size="0.03370163087057365 0.9786078005536667 0.18947021786336715" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.48930390027683335 2.1894702178633674" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.48930390027683335 -0.09473510893168358" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.48930390027683335 -0.09473510893168358" rpy="0 0 0"/>
            <geometry>
                <box size="0.03370163087057365 0.9786078005536667 0.18947021786336715" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.48930390027683335 -0.09473510893168358" rpy="0 0 0"/>
            <geometry>
                <box size="0.03370163087057365 0.9786078005536667 0.18947021786336715" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.016850815435286826 0.48930390027683335 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.15271748959905157 0 -0.1460891076384528" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15271748959905157 0 -0.1460891076384528" rpy="0 0 0"/>
            <geometry>
                <box size="0.30543497919810314 0.39467062218888604 0.2921782152769056" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15271748959905157 0 -0.1460891076384528" rpy="0 0 0"/>
            <geometry>
                <box size="0.30543497919810314 0.39467062218888604 0.2921782152769056" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.4653274521957989 0 -0.30726680671774464" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4653274521957989 0 -0.30726680671774464" rpy="0 0 0"/>
            <geometry>
                <box size="0.9306549043915978 0.19254371452149222 0.6145336134354893" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4653274521957989 0 -0.30726680671774464" rpy="0 0 0"/>
            <geometry>
                <box size="0.9306549043915978 0.19254371452149222 0.6145336134354893" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.4653274521957989 -0.09627185726074611 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.22050254300433209 0.28889553715688254" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.22050254300433209 0.28889553715688254" rpy="0 0 0"/>
            <geometry>
                <box size="0.3928450447807199 0.44100508600866417 0.5777910743137651" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.22050254300433209 0.28889553715688254" rpy="0 0 0"/>
            <geometry>
                <box size="0.3928450447807199 0.44100508600866417 0.5777910743137651" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5777910743137651" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0.20860278033878277 -0.1635706894567081" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.20860278033878277 -0.1635706894567081" rpy="0 0 0"/>
            <geometry>
                <box size="0.8534118757327268 0.41720556067756553 0.3271413789134162" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.20860278033878277 -0.1635706894567081" rpy="0 0 0"/>
            <geometry>
                <box size="0.8534118757327268 0.41720556067756553 0.3271413789134162" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 -0.2815023771969689 -0.27336354115692035" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2815023771969689 -0.27336354115692035" rpy="0 0 0"/>
            <geometry>
                <box size="0.46025149285471245 0.5630047543939378 0.5467270823138407" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2815023771969689 -0.27336354115692035" rpy="0 0 0"/>
            <geometry>
                <box size="0.46025149285471245 0.5630047543939378 0.5467270823138407" />
            </geometry>
        </collision>
    </link>
</robot>