<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.1984077071928168" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.1984077071928168" rpy="0 0 0"/>
            <geometry>
                <box size="0.5687999524275994 0.9151139358403517 0.3968154143856334" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.1984077071928168" rpy="0 0 0"/>
            <geometry>
                <box size="0.5687999524275994 0.9151139358403517 0.3968154143856334" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.45755696792017586 2.3968154143856335" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.45755696792017586 -0.1984077071928167" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.45755696792017586 -0.1984077071928167" rpy="0 0 0"/>
            <geometry>
                <box size="0.5687999524275994 0.9151139358403517 0.3968154143856334" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.45755696792017586 -0.1984077071928167" rpy="0 0 0"/>
            <geometry>
                <box size="0.5687999524275994 0.9151139358403517 0.3968154143856334" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.9151139358403517 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.34512148754996236 -0.43390876274428736" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.34512148754996236 -0.43390876274428736" rpy="0 0 0"/>
            <geometry>
                <box size="0.5675463943500767 0.6902429750999247 0.8678175254885747" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.34512148754996236 -0.43390876274428736" rpy="0 0 0"/>
            <geometry>
                <box size="0.5675463943500767 0.6902429750999247 0.8678175254885747" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.23947583118737803 -0.3756824959645134" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.23947583118737803 -0.3756824959645134" rpy="0 0 0"/>
            <geometry>
                <box size="0.24079156000168223 0.47895166237475606 0.7513649919290268" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.23947583118737803 -0.3756824959645134" rpy="0 0 0"/>
            <geometry>
                <box size="0.24079156000168223 0.47895166237475606 0.7513649919290268" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.12039578000084111 -0.23947583118737803 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.3612097689088549 0 0.42023088305400574" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3612097689088549 0 0.42023088305400574" rpy="0 0 0"/>
            <geometry>
                <box size="0.7224195378177098 0.7512724894638934 0.8404617661080115" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3612097689088549 0 0.42023088305400574" rpy="0 0 0"/>
            <geometry>
                <box size="0.7224195378177098 0.7512724894638934 0.8404617661080115" />
            </geometry>
        </collision>
    </link>
</robot>