<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.345529622769809" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.345529622769809" rpy="0 0 0"/>
            <geometry>
                <box size="0.02254723096463196 0.6147007475129983 0.6910592455396176" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.345529622769809" rpy="0 0 0"/>
            <geometry>
                <box size="0.02254723096463196 0.6147007475129983 0.6910592455396176" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.30735037375649915 2.6910592455396176" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.30735037375649915 -0.3455296227698088" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.30735037375649915 -0.3455296227698088" rpy="0 0 0"/>
            <geometry>
                <box size="0.02254723096463196 0.6147007475129983 0.6910592455396176" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.30735037375649915 -0.3455296227698088" rpy="0 0 0"/>
            <geometry>
                <box size="0.02254723096463196 0.6147007475129983 0.6910592455396176" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.6147007475129983 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.09502803571818313 -0.04946580806638007" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.09502803571818313 -0.04946580806638007" rpy="0 0 0"/>
            <geometry>
                <box size="0.6067813118834233 0.19005607143636627 0.09893161613276014" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.09502803571818313 -0.04946580806638007" rpy="0 0 0"/>
            <geometry>
                <box size="0.6067813118834233 0.19005607143636627 0.09893161613276014" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.19005607143636627 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.03558774075066412 0.21394761035098497" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.03558774075066412 0.21394761035098497" rpy="0 0 0"/>
            <geometry>
                <box size="0.024283229675330698 0.07117548150132824 0.42789522070196995" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.03558774075066412 0.21394761035098497" rpy="0 0 0"/>
            <geometry>
                <box size="0.024283229675330698 0.07117548150132824 0.42789522070196995" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.42789522070196995" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.3937917142634041 0.44766693508652367" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3937917142634041 0.44766693508652367" rpy="0 0 0"/>
            <geometry>
                <box size="0.24860680672305957 0.7875834285268082 0.8953338701730473" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3937917142634041 0.44766693508652367" rpy="0 0 0"/>
            <geometry>
                <box size="0.24860680672305957 0.7875834285268082 0.8953338701730473" />
            </geometry>
        </collision>
    </link>
</robot>