<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.4758279575488977" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.4758279575488977" rpy="0 0 0"/>
            <geometry>
                <box size="0.8696357561101294 0.6482420932603203 0.9516559150977956" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.4758279575488977" rpy="0 0 0"/>
            <geometry>
                <box size="0.8696357561101294 0.6482420932603203 0.9516559150977956" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.32412104663016017 2.9516559150977955" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.32412104663016017 -0.4758279575488978" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.32412104663016017 -0.4758279575488978" rpy="0 0 0"/>
            <geometry>
                <box size="0.8696357561101294 0.6482420932603203 0.9516559150977956" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.32412104663016017 -0.4758279575488978" rpy="0 0 0"/>
            <geometry>
                <box size="0.8696357561101294 0.6482420932603203 0.9516559150977956" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.4348178780550647 0.32412104663016017 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.37066178065994515 0 -0.2333545824760564" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.37066178065994515 0 -0.2333545824760564" rpy="0 0 0"/>
            <geometry>
                <box size="0.7413235613198903 0.7316937345431676 0.4667091649521128" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.37066178065994515 0 -0.2333545824760564" rpy="0 0 0"/>
            <geometry>
                <box size="0.7413235613198903 0.7316937345431676 0.4667091649521128" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.37066178065994515 -0.3658468672715838 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.3421236427579502 -0.04144848514947769" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3421236427579502 -0.04144848514947769" rpy="0 0 0"/>
            <geometry>
                <box size="0.21809272275293656 0.6842472855159004 0.08289697029895537" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3421236427579502 -0.04144848514947769" rpy="0 0 0"/>
            <geometry>
                <box size="0.21809272275293656 0.6842472855159004 0.08289697029895537" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 -0.6842472855159004 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.34116697816047536 0.026348397374301336" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.34116697816047536 0.026348397374301336" rpy="0 0 0"/>
            <geometry>
                <box size="0.6768897303557462 0.6823339563209507 0.05269679474860267" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.34116697816047536 0.026348397374301336" rpy="0 0 0"/>
            <geometry>
                <box size="0.6768897303557462 0.6823339563209507 0.05269679474860267" />
            </geometry>
        </collision>
    </link>
</robot>