<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.366363563147418" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.366363563147418" rpy="0 0 0"/>
            <geometry>
                <box size="0.3062617393136684 0.1634611784460559 0.7327271262948356" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.366363563147418" rpy="0 0 0"/>
            <geometry>
                <box size="0.3062617393136684 0.1634611784460559 0.7327271262948356" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.08173058922302795 2.7327271262948356" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.08173058922302795 -0.3663635631474178" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08173058922302795 -0.3663635631474178" rpy="0 0 0"/>
            <geometry>
                <box size="0.3062617393136684 0.1634611784460559 0.7327271262948356" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08173058922302795 -0.3663635631474178" rpy="0 0 0"/>
            <geometry>
                <box size="0.3062617393136684 0.1634611784460559 0.7327271262948356" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.13581068071977492 0.3391869588972556" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.13581068071977492 0.3391869588972556" rpy="0 0 0"/>
            <geometry>
                <box size="0.2973160783611981 0.27162136143954985 0.6783739177945112" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.13581068071977492 0.3391869588972556" rpy="0 0 0"/>
            <geometry>
                <box size="0.2973160783611981 0.27162136143954985 0.6783739177945112" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.27162136143954985 0.6783739177945112" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.44460449394254525 0.19690491365969054" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.44460449394254525 0.19690491365969054" rpy="0 0 0"/>
            <geometry>
                <box size="0.2604880970495589 0.8892089878850905 0.3938098273193811" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.44460449394254525 0.19690491365969054" rpy="0 0 0"/>
            <geometry>
                <box size="0.2604880970495589 0.8892089878850905 0.3938098273193811" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.13024404852477944 -0.44460449394254525 0.3938098273193811" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.09941170164254381 0 0.4486523909102371" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.09941170164254381 0 0.4486523909102371" rpy="0 0 0"/>
            <geometry>
                <box size="0.19882340328508763 0.3346645455763493 0.8973047818204742" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.09941170164254381 0 0.4486523909102371" rpy="0 0 0"/>
            <geometry>
                <box size="0.19882340328508763 0.3346645455763493 0.8973047818204742" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.8973047818204742" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.45592581638249374 0 -0.19087450778522325" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.45592581638249374 0 -0.19087450778522325" rpy="0 0 0"/>
            <geometry>
                <box size="0.9118516327649875 0.5691228278867944 0.3817490155704465" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.45592581638249374 0 -0.19087450778522325" rpy="0 0 0"/>
            <geometry>
                <box size="0.9118516327649875 0.5691228278867944 0.3817490155704465" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.45592581638249374 -0.2845614139433972 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 -0.3220112028724289 -0.3171481187931522" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3220112028724289 -0.3171481187931522" rpy="0 0 0"/>
            <geometry>
                <box size="0.09405262159568262 0.6440224057448578 0.6342962375863044" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3220112028724289 -0.3171481187931522" rpy="0 0 0"/>
            <geometry>
                <box size="0.09405262159568262 0.6440224057448578 0.6342962375863044" />
            </geometry>
        </collision>
    </link>
</robot>