<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.193532557145968" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.193532557145968" rpy="0 0 0"/>
            <geometry>
                <box size="0.5154085466882884 0.19487042782650787 0.38706511429193546" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.193532557145968" rpy="0 0 0"/>
            <geometry>
                <box size="0.5154085466882884 0.19487042782650787 0.38706511429193546" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.09743521391325394 2.3870651142919357" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.09743521391325394 -0.19353255714596773" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.09743521391325394 -0.19353255714596773" rpy="0 0 0"/>
            <geometry>
                <box size="0.5154085466882884 0.19487042782650787 0.38706511429193546" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.09743521391325394 -0.19353255714596773" rpy="0 0 0"/>
            <geometry>
                <box size="0.5154085466882884 0.19487042782650787 0.38706511429193546" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.2577042733441442 0.09743521391325394 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.37436725722953623 0 0.007033671816072562" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.37436725722953623 0 0.007033671816072562" rpy="0 0 0"/>
            <geometry>
                <box size="0.7487345144590725 0.9007507299176125 0.014067343632145124" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.37436725722953623 0 0.007033671816072562" rpy="0 0 0"/>
            <geometry>
                <box size="0.7487345144590725 0.9007507299176125 0.014067343632145124" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.014067343632145124" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.2186485981250324 0 -0.4226773168316367" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2186485981250324 0 -0.4226773168316367" rpy="0 0 0"/>
            <geometry>
                <box size="0.4372971962500648 0.7959773606342517 0.8453546336632733" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2186485981250324 0 -0.4226773168316367" rpy="0 0 0"/>
            <geometry>
                <box size="0.4372971962500648 0.7959773606342517 0.8453546336632733" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.11266151102641914 0 -0.16904572232525894" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.11266151102641914 0 -0.16904572232525894" rpy="0 0 0"/>
            <geometry>
                <box size="0.22532302205283827 0.479082251200754 0.3380914446505179" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.11266151102641914 0 -0.16904572232525894" rpy="0 0 0"/>
            <geometry>
                <box size="0.22532302205283827 0.479082251200754 0.3380914446505179" />
            </geometry>
        </collision>
    </link>
</robot>