<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.3959958579806013" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.3959958579806013" rpy="0 0 0"/>
            <geometry>
                <box size="0.6021893310634496 0.5210463370055797 0.7919917159612024" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.3959958579806013" rpy="0 0 0"/>
            <geometry>
                <box size="0.6021893310634496 0.5210463370055797 0.7919917159612024" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.26052316850278984 2.7919917159612027" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.26052316850278984 -0.3959958579806012" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.26052316850278984 -0.3959958579806012" rpy="0 0 0"/>
            <geometry>
                <box size="0.6021893310634496 0.5210463370055797 0.7919917159612024" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.26052316850278984 -0.3959958579806012" rpy="0 0 0"/>
            <geometry>
                <box size="0.6021893310634496 0.5210463370055797 0.7919917159612024" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.5210463370055797 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.38126332084987574 0.2869769157795819" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.38126332084987574 0.2869769157795819" rpy="0 0 0"/>
            <geometry>
                <box size="0.04602687833291008 0.7625266416997515 0.5739538315591638" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.38126332084987574 0.2869769157795819" rpy="0 0 0"/>
            <geometry>
                <box size="0.04602687833291008 0.7625266416997515 0.5739538315591638" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.02301343916645504 0.38126332084987574 0.5739538315591638" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.3766334637682958 0 0.47065326810460656" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3766334637682958 0 0.47065326810460656" rpy="0 0 0"/>
            <geometry>
                <box size="0.7532669275365916 0.8530818618115723 0.9413065362092131" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3766334637682958 0 0.47065326810460656" rpy="0 0 0"/>
            <geometry>
                <box size="0.7532669275365916 0.8530818618115723 0.9413065362092131" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.9413065362092131" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.025995163551073897 0 -0.26500490324845327" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.025995163551073897 0 -0.26500490324845327" rpy="0 0 0"/>
            <geometry>
                <box size="0.05199032710214779 0.8977706899774294 0.5300098064969065" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.025995163551073897 0 -0.26500490324845327" rpy="0 0 0"/>
            <geometry>
                <box size="0.05199032710214779 0.8977706899774294 0.5300098064969065" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.05199032710214779 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.37626199495750967 0 -0.25341780516102136" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.37626199495750967 0 -0.25341780516102136" rpy="0 0 0"/>
            <geometry>
                <box size="0.7525239899150193 0.86927459222617 0.5068356103220427" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.37626199495750967 0 -0.25341780516102136" rpy="0 0 0"/>
            <geometry>
                <box size="0.7525239899150193 0.86927459222617 0.5068356103220427" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="-0.19641193962374082 0 -0.01648123998872547" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.19641193962374082 0 -0.01648123998872547" rpy="0 0 0"/>
            <geometry>
                <box size="0.39282387924748163 0.12000596930103735 0.03296247997745094" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19641193962374082 0 -0.01648123998872547" rpy="0 0 0"/>
            <geometry>
                <box size="0.39282387924748163 0.12000596930103735 0.03296247997745094" />
            </geometry>
        </collision>
    </link>
</robot>