<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.1066446650564945" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.1066446650564945" rpy="0 0 0"/>
            <geometry>
                <box size="0.26319057532666 0.4259320245902537 0.21328933011298878" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.1066446650564945" rpy="0 0 0"/>
            <geometry>
                <box size="0.26319057532666 0.4259320245902537 0.21328933011298878" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.21296601229512685 2.213289330112989" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.21296601229512685 -0.10664466505649439" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.21296601229512685 -0.10664466505649439" rpy="0 0 0"/>
            <geometry>
                <box size="0.26319057532666 0.4259320245902537 0.21328933011298878" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.21296601229512685 -0.10664466505649439" rpy="0 0 0"/>
            <geometry>
                <box size="0.26319057532666 0.4259320245902537 0.21328933011298878" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.4259320245902537 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.3501903452576133 0.3352309177335994" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3501903452576133 0.3352309177335994" rpy="0 0 0"/>
            <geometry>
                <box size="0.43333427559869564 0.7003806905152266 0.6704618354671988" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3501903452576133 0.3352309177335994" rpy="0 0 0"/>
            <geometry>
                <box size="0.43333427559869564 0.7003806905152266 0.6704618354671988" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.6704618354671988" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.28822592550446735 -0.23347284493323162" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.28822592550446735 -0.23347284493323162" rpy="0 0 0"/>
            <geometry>
                <box size="0.388379483979018 0.5764518510089347 0.46694568986646323" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.28822592550446735 -0.23347284493323162" rpy="0 0 0"/>
            <geometry>
                <box size="0.388379483979018 0.5764518510089347 0.46694568986646323" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 -0.5764518510089347 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.2440370510667086 -0.2032842551715512" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2440370510667086 -0.2032842551715512" rpy="0 0 0"/>
            <geometry>
                <box size="0.937764527832123 0.4880741021334172 0.4065685103431024" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2440370510667086 -0.2032842551715512" rpy="0 0 0"/>
            <geometry>
                <box size="0.937764527832123 0.4880741021334172 0.4065685103431024" />
            </geometry>
        </collision>
    </link>
</robot>