<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0511221599084832" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0511221599084832" rpy="0 0 0"/>
            <geometry>
                <box size="0.591383087229205 0.015470636436195284 0.10224431981696602" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0511221599084832" rpy="0 0 0"/>
            <geometry>
                <box size="0.591383087229205 0.015470636436195284 0.10224431981696602" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.007735318218097642 2.102244319816966" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.007735318218097642 -0.05112215990848301" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.007735318218097642 -0.05112215990848301" rpy="0 0 0"/>
            <geometry>
                <box size="0.591383087229205 0.015470636436195284 0.10224431981696602" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.007735318218097642 -0.05112215990848301" rpy="0 0 0"/>
            <geometry>
                <box size="0.591383087229205 0.015470636436195284 0.10224431981696602" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.015470636436195284 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.10118682523971534 -0.3883676172922698" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.10118682523971534 -0.3883676172922698" rpy="0 0 0"/>
            <geometry>
                <box size="0.2795886655965578 0.20237365047943068 0.7767352345845396" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.10118682523971534 -0.3883676172922698" rpy="0 0 0"/>
            <geometry>
                <box size="0.2795886655965578 0.20237365047943068 0.7767352345845396" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.20237365047943068 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.39612850449007614 0.44619247409214124" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.39612850449007614 0.44619247409214124" rpy="0 0 0"/>
            <geometry>
                <box size="0.8748388853070614 0.7922570089801523 0.8923849481842825" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.39612850449007614 0.44619247409214124" rpy="0 0 0"/>
            <geometry>
                <box size="0.8748388853070614 0.7922570089801523 0.8923849481842825" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.8923849481842825" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.1568651671874865 0.4257309081093916" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1568651671874865 0.4257309081093916" rpy="0 0 0"/>
            <geometry>
                <box size="0.0970462561398272 0.313730334374973 0.8514618162187833" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1568651671874865 0.4257309081093916" rpy="0 0 0"/>
            <geometry>
                <box size="0.0970462561398272 0.313730334374973 0.8514618162187833" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 -0.313730334374973 0.8514618162187833" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.30636604581459526 -0.29223087019434" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.30636604581459526 -0.29223087019434" rpy="0 0 0"/>
            <geometry>
                <box size="0.8350260259723867 0.6127320916291905 0.58446174038868" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.30636604581459526 -0.29223087019434" rpy="0 0 0"/>
            <geometry>
                <box size="0.8350260259723867 0.6127320916291905 0.58446174038868" />
            </geometry>
        </collision>
    </link>
</robot>