<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.243686727792093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.243686727792093" rpy="0 0 0"/>
            <geometry>
                <box size="0.24027923059036305 0.8142678358195398 0.4873734555841863" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.243686727792093" rpy="0 0 0"/>
            <geometry>
                <box size="0.24027923059036305 0.8142678358195398 0.4873734555841863" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4071339179097699 2.487373455584186" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.4071339179097699 -0.24368672779209316" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4071339179097699 -0.24368672779209316" rpy="0 0 0"/>
            <geometry>
                <box size="0.24027923059036305 0.8142678358195398 0.4873734555841863" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4071339179097699 -0.24368672779209316" rpy="0 0 0"/>
            <geometry>
                <box size="0.24027923059036305 0.8142678358195398 0.4873734555841863" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.12013961529518152 0.4071339179097699 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.389854509930839 0 0.2049905159449013" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.389854509930839 0 0.2049905159449013" rpy="0 0 0"/>
            <geometry>
                <box size="0.779709019861678 0.11404066556647519 0.4099810318898026" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.389854509930839 0 0.2049905159449013" rpy="0 0 0"/>
            <geometry>
                <box size="0.779709019861678 0.11404066556647519 0.4099810318898026" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.4099810318898026" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.03112406567792264 0 -0.3333210803960006" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.03112406567792264 0 -0.3333210803960006" rpy="0 0 0"/>
            <geometry>
                <box size="0.06224813135584528 0.13451211145881314 0.6666421607920012" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.03112406567792264 0 -0.3333210803960006" rpy="0 0 0"/>
            <geometry>
                <box size="0.06224813135584528 0.13451211145881314 0.6666421607920012" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.04440731356048344 0 -0.37984417824626654" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.04440731356048344 0 -0.37984417824626654" rpy="0 0 0"/>
            <geometry>
                <box size="0.08881462712096688 0.44899176154543763 0.7596883564925331" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.04440731356048344 0 -0.37984417824626654" rpy="0 0 0"/>
            <geometry>
                <box size="0.08881462712096688 0.44899176154543763 0.7596883564925331" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.23036526596925577 0 -0.3360869551774653" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23036526596925577 0 -0.3360869551774653" rpy="0 0 0"/>
            <geometry>
                <box size="0.46073053193851154 0.8323638608721659 0.6721739103549306" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23036526596925577 0 -0.3360869551774653" rpy="0 0 0"/>
            <geometry>
                <box size="0.46073053193851154 0.8323638608721659 0.6721739103549306" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="-0.23036526596925577 -0.4161819304360829 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 -0.3839816321347854 0.09058222666504667" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3839816321347854 0.09058222666504667" rpy="0 0 0"/>
            <geometry>
                <box size="0.7414416228307195 0.7679632642695708 0.18116445333009334" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3839816321347854 0.09058222666504667" rpy="0 0 0"/>
            <geometry>
                <box size="0.7414416228307195 0.7679632642695708 0.18116445333009334" />
            </geometry>
        </collision>
    </link>
</robot>