<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.3419657960820888" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.3419657960820888" rpy="0 0 0"/>
            <geometry>
                <box size="0.017190669205030318 0.8873136610125024 0.6839315921641779" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.3419657960820888" rpy="0 0 0"/>
            <geometry>
                <box size="0.017190669205030318 0.8873136610125024 0.6839315921641779" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4436568305062512 2.683931592164178" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.4436568305062512 -0.34196579608208894" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4436568305062512 -0.34196579608208894" rpy="0 0 0"/>
            <geometry>
                <box size="0.017190669205030318 0.8873136610125024 0.6839315921641779" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4436568305062512 -0.34196579608208894" rpy="0 0 0"/>
            <geometry>
                <box size="0.017190669205030318 0.8873136610125024 0.6839315921641779" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.8873136610125024 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.16337402691218122 0.22186485845360127" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.16337402691218122 0.22186485845360127" rpy="0 0 0"/>
            <geometry>
                <box size="0.8971083309872534 0.32674805382436245 0.44372971690720253" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.16337402691218122 0.22186485845360127" rpy="0 0 0"/>
            <geometry>
                <box size="0.8971083309872534 0.32674805382436245 0.44372971690720253" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.44372971690720253" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.30892678277692887 -0.4807092341688345" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.30892678277692887 -0.4807092341688345" rpy="0 0 0"/>
            <geometry>
                <box size="0.5858962212586372 0.6178535655538577 0.961418468337669" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.30892678277692887 -0.4807092341688345" rpy="0 0 0"/>
            <geometry>
                <box size="0.5858962212586372 0.6178535655538577 0.961418468337669" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.13704757505348336 0.24638981751566819" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.13704757505348336 0.24638981751566819" rpy="0 0 0"/>
            <geometry>
                <box size="0.8823369153845984 0.2740951501069667 0.49277963503133637" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.13704757505348336 0.24638981751566819" rpy="0 0 0"/>
            <geometry>
                <box size="0.8823369153845984 0.2740951501069667 0.49277963503133637" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.2740951501069667 0.49277963503133637" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0.11406086447523622 0.4473668194185844" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.11406086447523622 0.4473668194185844" rpy="0 0 0"/>
            <geometry>
                <box size="0.025812570749743968 0.22812172895047245 0.8947336388371688" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.11406086447523622 0.4473668194185844" rpy="0 0 0"/>
            <geometry>
                <box size="0.025812570749743968 0.22812172895047245 0.8947336388371688" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="-0.012906285374871984 0.11406086447523622 0.8947336388371688" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="-0.3869569008328088 0 0.1751238960539815" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3869569008328088 0 0.1751238960539815" rpy="0 0 0"/>
            <geometry>
                <box size="0.7739138016656176 0.9830349641494694 0.350247792107963" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3869569008328088 0 0.1751238960539815" rpy="0 0 0"/>
            <geometry>
                <box size="0.7739138016656176 0.9830349641494694 0.350247792107963" />
            </geometry>
        </collision>
    </link>
</robot>