<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.4111012561416127" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.4111012561416127" rpy="0 0 0"/>
            <geometry>
                <box size="0.7725501341085445 0.11015160686358172 0.8222025122832253" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.4111012561416127" rpy="0 0 0"/>
            <geometry>
                <box size="0.7725501341085445 0.11015160686358172 0.8222025122832253" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.05507580343179086 2.8222025122832255" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.05507580343179086 -0.41110125614161264" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.05507580343179086 -0.41110125614161264" rpy="0 0 0"/>
            <geometry>
                <box size="0.7725501341085445 0.11015160686358172 0.8222025122832253" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.05507580343179086 -0.41110125614161264" rpy="0 0 0"/>
            <geometry>
                <box size="0.7725501341085445 0.11015160686358172 0.8222025122832253" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.010045375652245614 -0.13495120673831412" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.010045375652245614 -0.13495120673831412" rpy="0 0 0"/>
            <geometry>
                <box size="0.21803609246739786 0.020090751304491228 0.26990241347662824" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.010045375652245614 -0.13495120673831412" rpy="0 0 0"/>
            <geometry>
                <box size="0.21803609246739786 0.020090751304491228 0.26990241347662824" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.10901804623369893 -0.010045375652245614 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.319837643527241 0 0.2288056827856479" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.319837643527241 0 0.2288056827856479" rpy="0 0 0"/>
            <geometry>
                <box size="0.639675287054482 0.6677331522341015 0.4576113655712958" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.319837643527241 0 0.2288056827856479" rpy="0 0 0"/>
            <geometry>
                <box size="0.639675287054482 0.6677331522341015 0.4576113655712958" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.639675287054482 0 0.4576113655712958" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.43284243630770236 0 -0.10796426059520803" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.43284243630770236 0 -0.10796426059520803" rpy="0 0 0"/>
            <geometry>
                <box size="0.8656848726154047 0.15189897719255518 0.21592852119041606" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.43284243630770236 0 -0.10796426059520803" rpy="0 0 0"/>
            <geometry>
                <box size="0.8656848726154047 0.15189897719255518 0.21592852119041606" />
            </geometry>
        </collision>
    </link>
</robot>