<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.1874647990995264" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.1874647990995264" rpy="0 0 0"/>
            <geometry>
                <box size="0.09489212470870811 0.6175413184830495 0.37492959819905247" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.1874647990995264" rpy="0 0 0"/>
            <geometry>
                <box size="0.09489212470870811 0.6175413184830495 0.37492959819905247" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.30877065924152475 2.3749295981990524" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.30877065924152475 -0.18746479909952624" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.30877065924152475 -0.18746479909952624" rpy="0 0 0"/>
            <geometry>
                <box size="0.09489212470870811 0.6175413184830495 0.37492959819905247" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.30877065924152475 -0.18746479909952624" rpy="0 0 0"/>
            <geometry>
                <box size="0.09489212470870811 0.6175413184830495 0.37492959819905247" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.04744606235435406 0.30877065924152475 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.186804316447353 0 0.4979698120530218" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.186804316447353 0 0.4979698120530218" rpy="0 0 0"/>
            <geometry>
                <box size="0.373608632894706 0.9297908596618915 0.9959396241060436" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.186804316447353 0 0.4979698120530218" rpy="0 0 0"/>
            <geometry>
                <box size="0.373608632894706 0.9297908596618915 0.9959396241060436" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.9959396241060436" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.28286229988863293 0 0.41386694727639006" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.28286229988863293 0 0.41386694727639006" rpy="0 0 0"/>
            <geometry>
                <box size="0.5657245997772659 0.163910579234834 0.8277338945527801" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.28286229988863293 0 0.41386694727639006" rpy="0 0 0"/>
            <geometry>
                <box size="0.5657245997772659 0.163910579234834 0.8277338945527801" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.8277338945527801" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.019776398863262823 0 0.2856220410041391" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.019776398863262823 0 0.2856220410041391" rpy="0 0 0"/>
            <geometry>
                <box size="0.039552797726525646 0.07640797520731213 0.5712440820082783" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.019776398863262823 0 0.2856220410041391" rpy="0 0 0"/>
            <geometry>
                <box size="0.039552797726525646 0.07640797520731213 0.5712440820082783" />
            </geometry>
        </collision>
    </link>
</robot>