<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0931144167589575" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0931144167589575" rpy="0 0 0"/>
            <geometry>
                <box size="0.12122696650817222 0.09810625976404597 0.1862288335179153" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0931144167589575" rpy="0 0 0"/>
            <geometry>
                <box size="0.12122696650817222 0.09810625976404597 0.1862288335179153" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.04905312988202298 2.1862288335179154" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.04905312988202298 -0.09311441675895765" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.04905312988202298 -0.09311441675895765" rpy="0 0 0"/>
            <geometry>
                <box size="0.12122696650817222 0.09810625976404597 0.1862288335179153" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.04905312988202298 -0.09311441675895765" rpy="0 0 0"/>
            <geometry>
                <box size="0.12122696650817222 0.09810625976404597 0.1862288335179153" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.06061348325408611 0.04905312988202298 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.42337849135210087 0 -0.14034815396274647" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.42337849135210087 0 -0.14034815396274647" rpy="0 0 0"/>
            <geometry>
                <box size="0.8467569827042017 0.679541327056813 0.28069630792549294" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.42337849135210087 0 -0.14034815396274647" rpy="0 0 0"/>
            <geometry>
                <box size="0.8467569827042017 0.679541327056813 0.28069630792549294" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.8467569827042017 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0628961036791692 0 -0.49723573461249115" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0628961036791692 0 -0.49723573461249115" rpy="0 0 0"/>
            <geometry>
                <box size="0.1257922073583384 0.02658512464166285 0.9944714692249823" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0628961036791692 0 -0.49723573461249115" rpy="0 0 0"/>
            <geometry>
                <box size="0.1257922073583384 0.02658512464166285 0.9944714692249823" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.1257922073583384 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.07055079985748758 0 0.21151498056207085" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07055079985748758 0 0.21151498056207085" rpy="0 0 0"/>
            <geometry>
                <box size="0.14110159971497516 0.8108842635143133 0.4230299611241417" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07055079985748758 0 0.21151498056207085" rpy="0 0 0"/>
            <geometry>
                <box size="0.14110159971497516 0.8108842635143133 0.4230299611241417" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.4230299611241417" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.3289237143427421 0 0.39245121146877865" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3289237143427421 0 0.39245121146877865" rpy="0 0 0"/>
            <geometry>
                <box size="0.6578474286854842 0.07183890414440075 0.7849024229375573" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3289237143427421 0 0.39245121146877865" rpy="0 0 0"/>
            <geometry>
                <box size="0.6578474286854842 0.07183890414440075 0.7849024229375573" />
            </geometry>
        </collision>
    </link>
</robot>