<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.4610171563817693" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.4610171563817693" rpy="0 0 0"/>
            <geometry>
                <box size="0.17708873816015303 0.4542678323421533 0.9220343127635389" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.4610171563817693" rpy="0 0 0"/>
            <geometry>
                <box size="0.17708873816015303 0.4542678323421533 0.9220343127635389" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.22713391617107664 2.9220343127635386" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.22713391617107664 -0.46101715638176943" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.22713391617107664 -0.46101715638176943" rpy="0 0 0"/>
            <geometry>
                <box size="0.17708873816015303 0.4542678323421533 0.9220343127635389" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.22713391617107664 -0.46101715638176943" rpy="0 0 0"/>
            <geometry>
                <box size="0.17708873816015303 0.4542678323421533 0.9220343127635389" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.14041763541290986 0.3320843207313168" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.14041763541290986 0.3320843207313168" rpy="0 0 0"/>
            <geometry>
                <box size="0.8673538367884978 0.2808352708258197 0.6641686414626335" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.14041763541290986 0.3320843207313168" rpy="0 0 0"/>
            <geometry>
                <box size="0.8673538367884978 0.2808352708258197 0.6641686414626335" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.4336769183942489 -0.14041763541290986 0.6641686414626335" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.3373674407048524 0 -0.30409500562616654" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3373674407048524 0 -0.30409500562616654" rpy="0 0 0"/>
            <geometry>
                <box size="0.6747348814097048 0.9000419739938094 0.6081900112523331" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3373674407048524 0 -0.30409500562616654" rpy="0 0 0"/>
            <geometry>
                <box size="0.6747348814097048 0.9000419739938094 0.6081900112523331" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.3373674407048524 0.4500209869969047 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.320424493920743 -0.3684682847481483" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.320424493920743 -0.3684682847481483" rpy="0 0 0"/>
            <geometry>
                <box size="0.007968702862084842 0.640848987841486 0.7369365694962966" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.320424493920743 -0.3684682847481483" rpy="0 0 0"/>
            <geometry>
                <box size="0.007968702862084842 0.640848987841486 0.7369365694962966" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.640848987841486 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0.35110710045127286 0.2822303449943582" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.35110710045127286 0.2822303449943582" rpy="0 0 0"/>
            <geometry>
                <box size="0.5488891279722318 0.7022142009025457 0.5644606899887163" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.35110710045127286 0.2822303449943582" rpy="0 0 0"/>
            <geometry>
                <box size="0.5488891279722318 0.7022142009025457 0.5644606899887163" />
            </geometry>
        </collision>
    </link>
</robot>