<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.122736335131338" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.122736335131338" rpy="0 0 0"/>
            <geometry>
                <box size="0.8075873333716155 0.3620477445952933 0.24547267026267572" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.122736335131338" rpy="0 0 0"/>
            <geometry>
                <box size="0.8075873333716155 0.3620477445952933 0.24547267026267572" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.18102387229764666 2.245472670262676" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.18102387229764666 -0.12273633513133786" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.18102387229764666 -0.12273633513133786" rpy="0 0 0"/>
            <geometry>
                <box size="0.8075873333716155 0.3620477445952933 0.24547267026267572" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.18102387229764666 -0.12273633513133786" rpy="0 0 0"/>
            <geometry>
                <box size="0.8075873333716155 0.3620477445952933 0.24547267026267572" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.34641473434245057 0.11342423051043071" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.34641473434245057 0.11342423051043071" rpy="0 0 0"/>
            <geometry>
                <box size="0.283000275845562 0.6928294686849011 0.22684846102086142" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.34641473434245057 0.11342423051043071" rpy="0 0 0"/>
            <geometry>
                <box size="0.283000275845562 0.6928294686849011 0.22684846102086142" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.22684846102086142" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.25799960315989573 0.377658533835281" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.25799960315989573 0.377658533835281" rpy="0 0 0"/>
            <geometry>
                <box size="0.4889518184851924 0.5159992063197915 0.755317067670562" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.25799960315989573 0.377658533835281" rpy="0 0 0"/>
            <geometry>
                <box size="0.4889518184851924 0.5159992063197915 0.755317067670562" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.2444759092425962 0.25799960315989573 0.755317067670562" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.25394368585562 0 0.2434353191756472" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25394368585562 0 0.2434353191756472" rpy="0 0 0"/>
            <geometry>
                <box size="0.50788737171124 0.8436840906191616 0.4868706383512944" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25394368585562 0 0.2434353191756472" rpy="0 0 0"/>
            <geometry>
                <box size="0.50788737171124 0.8436840906191616 0.4868706383512944" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.4868706383512944" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.3764616561975813 0 -0.40044006507101315" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3764616561975813 0 -0.40044006507101315" rpy="0 0 0"/>
            <geometry>
                <box size="0.7529233123951626 0.6711930332497621 0.8008801301420263" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3764616561975813 0 -0.40044006507101315" rpy="0 0 0"/>
            <geometry>
                <box size="0.7529233123951626 0.6711930332497621 0.8008801301420263" />
            </geometry>
        </collision>
    </link>
</robot>