<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.419408127972356" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.419408127972356" rpy="0 0 0"/>
            <geometry>
                <box size="0.39934098310988697 0.9422710098721844 0.8388162559447124" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.419408127972356" rpy="0 0 0"/>
            <geometry>
                <box size="0.39934098310988697 0.9422710098721844 0.8388162559447124" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4711355049360922 2.8388162559447125" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.4711355049360922 -0.4194081279723562" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4711355049360922 -0.4194081279723562" rpy="0 0 0"/>
            <geometry>
                <box size="0.39934098310988697 0.9422710098721844 0.8388162559447124" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4711355049360922 -0.4194081279723562" rpy="0 0 0"/>
            <geometry>
                <box size="0.39934098310988697 0.9422710098721844 0.8388162559447124" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.9422710098721844 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.29042150687217044 -0.012299921790859147" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.29042150687217044 -0.012299921790859147" rpy="0 0 0"/>
            <geometry>
                <box size="0.5889602554418105 0.5808430137443409 0.024599843581718295" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.29042150687217044 -0.012299921790859147" rpy="0 0 0"/>
            <geometry>
                <box size="0.5889602554418105 0.5808430137443409 0.024599843581718295" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.4023242272078017 -0.4480643449246024" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4023242272078017 -0.4480643449246024" rpy="0 0 0"/>
            <geometry>
                <box size="0.4877621478512385 0.8046484544156034 0.8961286898492048" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4023242272078017 -0.4480643449246024" rpy="0 0 0"/>
            <geometry>
                <box size="0.4877621478512385 0.8046484544156034 0.8961286898492048" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 -0.8046484544156034 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.2072519113292145 0.081838196551689" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2072519113292145 0.081838196551689" rpy="0 0 0"/>
            <geometry>
                <box size="0.2335613540975453 0.414503822658429 0.163676393103378" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2072519113292145 0.081838196551689" rpy="0 0 0"/>
            <geometry>
                <box size="0.2335613540975453 0.414503822658429 0.163676393103378" />
            </geometry>
        </collision>
    </link>
</robot>