<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.451459598662997" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.451459598662997" rpy="0 0 0"/>
            <geometry>
                <box size="0.2382399839669207 0.3289114114742019 0.9029191973259936" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.451459598662997" rpy="0 0 0"/>
            <geometry>
                <box size="0.2382399839669207 0.3289114114742019 0.9029191973259936" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.16445570573710094 2.9029191973259936" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.16445570573710094 -0.4514595986629968" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.16445570573710094 -0.4514595986629968" rpy="0 0 0"/>
            <geometry>
                <box size="0.2382399839669207 0.3289114114742019 0.9029191973259936" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.16445570573710094 -0.4514595986629968" rpy="0 0 0"/>
            <geometry>
                <box size="0.2382399839669207 0.3289114114742019 0.9029191973259936" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.11911999198346035 0.16445570573710094 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.17517632818712925 0 -0.35215273807885983" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17517632818712925 0 -0.35215273807885983" rpy="0 0 0"/>
            <geometry>
                <box size="0.3503526563742585 0.644222216914613 0.7043054761577197" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17517632818712925 0 -0.35215273807885983" rpy="0 0 0"/>
            <geometry>
                <box size="0.3503526563742585 0.644222216914613 0.7043054761577197" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.17517632818712925 -0.3221111084573065 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.15942416796449388 -0.3026846484694234" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.15942416796449388 -0.3026846484694234" rpy="0 0 0"/>
            <geometry>
                <box size="0.5708949538193702 0.31884833592898776 0.6053692969388468" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.15942416796449388 -0.3026846484694234" rpy="0 0 0"/>
            <geometry>
                <box size="0.5708949538193702 0.31884833592898776 0.6053692969388468" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.15344756490892386 -0.08042310912352141" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.15344756490892386 -0.08042310912352141" rpy="0 0 0"/>
            <geometry>
                <box size="0.7280147508251935 0.3068951298178477 0.16084621824704282" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.15344756490892386 -0.08042310912352141" rpy="0 0 0"/>
            <geometry>
                <box size="0.7280147508251935 0.3068951298178477 0.16084621824704282" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.36400737541259676 0.15344756490892386 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.31605544729050133 0 -0.3615248423121134" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.31605544729050133 0 -0.3615248423121134" rpy="0 0 0"/>
            <geometry>
                <box size="0.6321108945810027 0.4505449938048619 0.7230496846242268" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.31605544729050133 0 -0.3615248423121134" rpy="0 0 0"/>
            <geometry>
                <box size="0.6321108945810027 0.4505449938048619 0.7230496846242268" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.6321108945810027 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.3386293282338827 0 -0.2309815711140456" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3386293282338827 0 -0.2309815711140456" rpy="0 0 0"/>
            <geometry>
                <box size="0.6772586564677654 0.8347447708478682 0.4619631422280912" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3386293282338827 0 -0.2309815711140456" rpy="0 0 0"/>
            <geometry>
                <box size="0.6772586564677654 0.8347447708478682 0.4619631422280912" />
            </geometry>
        </collision>
    </link>
</robot>