<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.429663823081563" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.429663823081563" rpy="0 0 0"/>
            <geometry>
                <box size="0.5216703679752361 0.8134019696711754 0.859327646163126" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.429663823081563" rpy="0 0 0"/>
            <geometry>
                <box size="0.5216703679752361 0.8134019696711754 0.859327646163126" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4067009848355877 2.859327646163126" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.4067009848355877 -0.429663823081563" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4067009848355877 -0.429663823081563" rpy="0 0 0"/>
            <geometry>
                <box size="0.5216703679752361 0.8134019696711754 0.859327646163126" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4067009848355877 -0.429663823081563" rpy="0 0 0"/>
            <geometry>
                <box size="0.5216703679752361 0.8134019696711754 0.859327646163126" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.2003654719076406 -0.06914791129319159" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2003654719076406 -0.06914791129319159" rpy="0 0 0"/>
            <geometry>
                <box size="0.12618476424721092 0.4007309438152812 0.13829582258638318" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2003654719076406 -0.06914791129319159" rpy="0 0 0"/>
            <geometry>
                <box size="0.12618476424721092 0.4007309438152812 0.13829582258638318" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.4007309438152812 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.2563828144466727 0.18423497758549262" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2563828144466727 0.18423497758549262" rpy="0 0 0"/>
            <geometry>
                <box size="0.535337234930484 0.5127656288933454 0.36846995517098524" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2563828144466727 0.18423497758549262" rpy="0 0 0"/>
            <geometry>
                <box size="0.535337234930484 0.5127656288933454 0.36846995517098524" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.36846995517098524" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.04077215698322201 0.22481805286401252" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.04077215698322201 0.22481805286401252" rpy="0 0 0"/>
            <geometry>
                <box size="0.9644447536112084 0.08154431396644402 0.44963610572802504" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.04077215698322201 0.22481805286401252" rpy="0 0 0"/>
            <geometry>
                <box size="0.9644447536112084 0.08154431396644402 0.44963610572802504" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.4822223768056042 0.04077215698322201 0.44963610572802504" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.21077512143157678 0 0.44467446457398035" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.21077512143157678 0 0.44467446457398035" rpy="0 0 0"/>
            <geometry>
                <box size="0.42155024286315357 0.7642453393792256 0.8893489291479607" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.21077512143157678 0 0.44467446457398035" rpy="0 0 0"/>
            <geometry>
                <box size="0.42155024286315357 0.7642453393792256 0.8893489291479607" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.21077512143157678 0.3821226696896128 0.8893489291479607" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.26444258835878676 -0.44408959397136316" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.26444258835878676 -0.44408959397136316" rpy="0 0 0"/>
            <geometry>
                <box size="0.4517936714174089 0.5288851767175735 0.8881791879427263" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.26444258835878676 -0.44408959397136316" rpy="0 0 0"/>
            <geometry>
                <box size="0.4517936714174089 0.5288851767175735 0.8881791879427263" />
            </geometry>
        </collision>
    </link>
</robot>