<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.1225936873721865" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.1225936873721865" rpy="0 0 0"/>
            <geometry>
                <box size="0.1931849360512491 0.4197875173667528 0.24518737474437313" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.1225936873721865" rpy="0 0 0"/>
            <geometry>
                <box size="0.1931849360512491 0.4197875173667528 0.24518737474437313" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.2098937586833764 2.245187374744373" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.2098937586833764 -0.12259368737218657" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2098937586833764 -0.12259368737218657" rpy="0 0 0"/>
            <geometry>
                <box size="0.1931849360512491 0.4197875173667528 0.24518737474437313" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2098937586833764 -0.12259368737218657" rpy="0 0 0"/>
            <geometry>
                <box size="0.1931849360512491 0.4197875173667528 0.24518737474437313" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.09659246802562454 0.2098937586833764 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.1657414478410466 0 0.142750415256726" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1657414478410466 0 0.142750415256726" rpy="0 0 0"/>
            <geometry>
                <box size="0.3314828956820932 0.4296494053839902 0.285500830513452" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1657414478410466 0 0.142750415256726" rpy="0 0 0"/>
            <geometry>
                <box size="0.3314828956820932 0.4296494053839902 0.285500830513452" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.285500830513452" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.2734382655629434 0 0.039290308969008536" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2734382655629434 0 0.039290308969008536" rpy="0 0 0"/>
            <geometry>
                <box size="0.5468765311258867 0.10404842395821023 0.07858061793801707" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2734382655629434 0 0.039290308969008536" rpy="0 0 0"/>
            <geometry>
                <box size="0.5468765311258867 0.10404842395821023 0.07858061793801707" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.2734382655629434 -0.05202421197910512 0.07858061793801707" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.188973983272834 -0.24852292728753916" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.188973983272834 -0.24852292728753916" rpy="0 0 0"/>
            <geometry>
                <box size="0.859390863111113 0.377947966545668 0.4970458545750783" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.188973983272834 -0.24852292728753916" rpy="0 0 0"/>
            <geometry>
                <box size="0.859390863111113 0.377947966545668 0.4970458545750783" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 -0.377947966545668 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.11187122032616331 -0.4853756458576905" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.11187122032616331 -0.4853756458576905" rpy="0 0 0"/>
            <geometry>
                <box size="0.6011066162734301 0.22374244065232662 0.970751291715381" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.11187122032616331 -0.4853756458576905" rpy="0 0 0"/>
            <geometry>
                <box size="0.6011066162734301 0.22374244065232662 0.970751291715381" />
            </geometry>
        </collision>
    </link>
</robot>