<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.302538790192811" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.302538790192811" rpy="0 0 0"/>
            <geometry>
                <box size="0.5830585479095483 0.0697498728096283 0.6050775803856218" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.302538790192811" rpy="0 0 0"/>
            <geometry>
                <box size="0.5830585479095483 0.0697498728096283 0.6050775803856218" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.03487493640481415 2.605077580385622" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.03487493640481415 -0.3025387901928109" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.03487493640481415 -0.3025387901928109" rpy="0 0 0"/>
            <geometry>
                <box size="0.5830585479095483 0.0697498728096283 0.6050775803856218" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.03487493640481415 -0.3025387901928109" rpy="0 0 0"/>
            <geometry>
                <box size="0.5830585479095483 0.0697498728096283 0.6050775803856218" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.48670314312577095 -0.44067818141192916" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.48670314312577095 -0.44067818141192916" rpy="0 0 0"/>
            <geometry>
                <box size="0.4402647259588389 0.9734062862515419 0.8813563628238583" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.48670314312577095 -0.44067818141192916" rpy="0 0 0"/>
            <geometry>
                <box size="0.4402647259588389 0.9734062862515419 0.8813563628238583" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.9734062862515419 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.07010578260057604 -0.2372355138784536" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.07010578260057604 -0.2372355138784536" rpy="0 0 0"/>
            <geometry>
                <box size="0.24716225865634112 0.14021156520115208 0.4744710277569072" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.07010578260057604 -0.2372355138784536" rpy="0 0 0"/>
            <geometry>
                <box size="0.24716225865634112 0.14021156520115208 0.4744710277569072" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.49924114931386254 0.40357488534781216" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.49924114931386254 0.40357488534781216" rpy="0 0 0"/>
            <geometry>
                <box size="0.33201547445950097 0.9984822986277251 0.8071497706956243" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.49924114931386254 0.40357488534781216" rpy="0 0 0"/>
            <geometry>
                <box size="0.33201547445950097 0.9984822986277251 0.8071497706956243" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.16600773722975048 0.49924114931386254 0.8071497706956243" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.05408559387049472 0 0.29711121855438477" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.05408559387049472 0 0.29711121855438477" rpy="0 0 0"/>
            <geometry>
                <box size="0.10817118774098944 0.8707791063287957 0.5942224371087695" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.05408559387049472 0 0.29711121855438477" rpy="0 0 0"/>
            <geometry>
                <box size="0.10817118774098944 0.8707791063287957 0.5942224371087695" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="-0.05408559387049472 0.43538955316439787 0.5942224371087695" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.1512998266189451 -0.4099874411857798" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1512998266189451 -0.4099874411857798" rpy="0 0 0"/>
            <geometry>
                <box size="0.7948796875124013 0.3025996532378902 0.8199748823715596" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1512998266189451 -0.4099874411857798" rpy="0 0 0"/>
            <geometry>
                <box size="0.7948796875124013 0.3025996532378902 0.8199748823715596" />
            </geometry>
        </collision>
    </link>
</robot>