<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.166688097707243" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.166688097707243" rpy="0 0 0"/>
            <geometry>
                <box size="0.9756282050826914 0.6781122126120108 0.3333761954144856" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.166688097707243" rpy="0 0 0"/>
            <geometry>
                <box size="0.9756282050826914 0.6781122126120108 0.3333761954144856" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.3390561063060054 2.333376195414486" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.3390561063060054 -0.1666880977072428" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3390561063060054 -0.1666880977072428" rpy="0 0 0"/>
            <geometry>
                <box size="0.9756282050826914 0.6781122126120108 0.3333761954144856" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3390561063060054 -0.1666880977072428" rpy="0 0 0"/>
            <geometry>
                <box size="0.9756282050826914 0.6781122126120108 0.3333761954144856" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.17443732388208938 -0.25918789332126974" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.17443732388208938 -0.25918789332126974" rpy="0 0 0"/>
            <geometry>
                <box size="0.32034931739812766 0.34887464776417876 0.5183757866425395" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.17443732388208938 -0.25918789332126974" rpy="0 0 0"/>
            <geometry>
                <box size="0.32034931739812766 0.34887464776417876 0.5183757866425395" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.22010030537830677 -0.28447461422897563" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.22010030537830677 -0.28447461422897563" rpy="0 0 0"/>
            <geometry>
                <box size="0.7041285591175234 0.44020061075661354 0.5689492284579513" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.22010030537830677 -0.28447461422897563" rpy="0 0 0"/>
            <geometry>
                <box size="0.7041285591175234 0.44020061075661354 0.5689492284579513" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.44020061075661354 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.055771226626310344 0.2059046531846197" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.055771226626310344 0.2059046531846197" rpy="0 0 0"/>
            <geometry>
                <box size="0.19992959617133188 0.11154245325262069 0.4118093063692394" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.055771226626310344 0.2059046531846197" rpy="0 0 0"/>
            <geometry>
                <box size="0.19992959617133188 0.11154245325262069 0.4118093063692394" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.09996479808566594 0.055771226626310344 0.4118093063692394" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.377008623152702 0 0.4244768728320243" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.377008623152702 0 0.4244768728320243" rpy="0 0 0"/>
            <geometry>
                <box size="0.754017246305404 0.15670828688794003 0.8489537456640486" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.377008623152702 0 0.4244768728320243" rpy="0 0 0"/>
            <geometry>
                <box size="0.754017246305404 0.15670828688794003 0.8489537456640486" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.754017246305404 0 0.8489537456640486" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0708294497196883 0 0.12735934739798804" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0708294497196883 0 0.12735934739798804" rpy="0 0 0"/>
            <geometry>
                <box size="0.1416588994393766 0.11873668954310401 0.2547186947959761" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0708294497196883 0 0.12735934739798804" rpy="0 0 0"/>
            <geometry>
                <box size="0.1416588994393766 0.11873668954310401 0.2547186947959761" />
            </geometry>
        </collision>
    </link>
</robot>