<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0750301987659614" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0750301987659614" rpy="0 0 0"/>
            <geometry>
                <box size="0.6774798321535531 0.43714152919622573 0.1500603975319228" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0750301987659614" rpy="0 0 0"/>
            <geometry>
                <box size="0.6774798321535531 0.43714152919622573 0.1500603975319228" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.21857076459811287 2.150060397531923" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.21857076459811287 -0.0750301987659614" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.21857076459811287 -0.0750301987659614" rpy="0 0 0"/>
            <geometry>
                <box size="0.6774798321535531 0.43714152919622573 0.1500603975319228" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.21857076459811287 -0.0750301987659614" rpy="0 0 0"/>
            <geometry>
                <box size="0.6774798321535531 0.43714152919622573 0.1500603975319228" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.43714152919622573 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.35789157573978564 -0.4003898762233125" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.35789157573978564 -0.4003898762233125" rpy="0 0 0"/>
            <geometry>
                <box size="0.09655627324562865 0.7157831514795713 0.800779752446625" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.35789157573978564 -0.4003898762233125" rpy="0 0 0"/>
            <geometry>
                <box size="0.09655627324562865 0.7157831514795713 0.800779752446625" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.04827813662281433 0.35789157573978564 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.25158453271002573 0 -0.05666007340849177" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25158453271002573 0 -0.05666007340849177" rpy="0 0 0"/>
            <geometry>
                <box size="0.5031690654200515 0.9094223032436544 0.11332014681698355" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25158453271002573 0 -0.05666007340849177" rpy="0 0 0"/>
            <geometry>
                <box size="0.5031690654200515 0.9094223032436544 0.11332014681698355" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.25158453271002573 0.4547111516218272 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.2857492281330252 -0.03815052971724475" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2857492281330252 -0.03815052971724475" rpy="0 0 0"/>
            <geometry>
                <box size="0.9988427556297682 0.5714984562660504 0.0763010594344895" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2857492281330252 -0.03815052971724475" rpy="0 0 0"/>
            <geometry>
                <box size="0.9988427556297682 0.5714984562660504 0.0763010594344895" />
            </geometry>
        </collision>
    </link>
</robot>