<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.3680261498398987" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.3680261498398987" rpy="0 0 0"/>
            <geometry>
                <box size="0.07839696794424678 0.9866625753185145 0.7360522996797974" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.3680261498398987" rpy="0 0 0"/>
            <geometry>
                <box size="0.07839696794424678 0.9866625753185145 0.7360522996797974" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.49333128765925727 2.7360522996797974" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.49333128765925727 -0.3680261498398987" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.49333128765925727 -0.3680261498398987" rpy="0 0 0"/>
            <geometry>
                <box size="0.07839696794424678 0.9866625753185145 0.7360522996797974" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.49333128765925727 -0.3680261498398987" rpy="0 0 0"/>
            <geometry>
                <box size="0.07839696794424678 0.9866625753185145 0.7360522996797974" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.9866625753185145 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.24720549727721858 0.05470270071559097" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.24720549727721858 0.05470270071559097" rpy="0 0 0"/>
            <geometry>
                <box size="0.17712315229469133 0.49441099455443716 0.10940540143118194" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.24720549727721858 0.05470270071559097" rpy="0 0 0"/>
            <geometry>
                <box size="0.17712315229469133 0.49441099455443716 0.10940540143118194" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.10940540143118194" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.09264103838367349 0.08303225184379087" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.09264103838367349 0.08303225184379087" rpy="0 0 0"/>
            <geometry>
                <box size="0.7526386830469605 0.18528207676734698 0.16606450368758174" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.09264103838367349 0.08303225184379087" rpy="0 0 0"/>
            <geometry>
                <box size="0.7526386830469605 0.18528207676734698 0.16606450368758174" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 -0.18528207676734698 0.16606450368758174" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.09734295795505937 0.2817170181943494" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.09734295795505937 0.2817170181943494" rpy="0 0 0"/>
            <geometry>
                <box size="0.6743957283278457 0.19468591591011875 0.5634340363886988" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.09734295795505937 0.2817170181943494" rpy="0 0 0"/>
            <geometry>
                <box size="0.6743957283278457 0.19468591591011875 0.5634340363886988" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 -0.19468591591011875 0.5634340363886988" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.0573119659721944 -0.4205641015960621" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.0573119659721944 -0.4205641015960621" rpy="0 0 0"/>
            <geometry>
                <box size="0.06572392125884585 0.1146239319443888 0.8411282031921242" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.0573119659721944 -0.4205641015960621" rpy="0 0 0"/>
            <geometry>
                <box size="0.06572392125884585 0.1146239319443888 0.8411282031921242" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.11270093809832804 0.12471046544854153" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.11270093809832804 0.12471046544854153" rpy="0 0 0"/>
            <geometry>
                <box size="0.6972239982687165 0.22540187619665608 0.24942093089708306" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.11270093809832804 0.12471046544854153" rpy="0 0 0"/>
            <geometry>
                <box size="0.6972239982687165 0.22540187619665608 0.24942093089708306" />
            </geometry>
        </collision>
    </link>
</robot>