<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0672586815635827" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0672586815635827" rpy="0 0 0"/>
            <geometry>
                <box size="0.8797781568708853 0.8394757838481207 0.13451736312716545" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0672586815635827" rpy="0 0 0"/>
            <geometry>
                <box size="0.8797781568708853 0.8394757838481207 0.13451736312716545" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.41973789192406036 2.1345173631271654" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.41973789192406036 -0.06725868156358272" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.41973789192406036 -0.06725868156358272" rpy="0 0 0"/>
            <geometry>
                <box size="0.8797781568708853 0.8394757838481207 0.13451736312716545" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.41973789192406036 -0.06725868156358272" rpy="0 0 0"/>
            <geometry>
                <box size="0.8797781568708853 0.8394757838481207 0.13451736312716545" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.43988907843544267 0.41973789192406036 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.39214974994916846 0 0.22730128335367122" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.39214974994916846 0 0.22730128335367122" rpy="0 0 0"/>
            <geometry>
                <box size="0.7842994998983369 0.44606268434186513 0.45460256670734245" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.39214974994916846 0 0.22730128335367122" rpy="0 0 0"/>
            <geometry>
                <box size="0.7842994998983369 0.44606268434186513 0.45460256670734245" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.45460256670734245" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.25455080573068023 0 0.1530354663422443" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25455080573068023 0 0.1530354663422443" rpy="0 0 0"/>
            <geometry>
                <box size="0.5091016114613605 0.21207973896090782 0.3060709326844886" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25455080573068023 0 0.1530354663422443" rpy="0 0 0"/>
            <geometry>
                <box size="0.5091016114613605 0.21207973896090782 0.3060709326844886" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.5091016114613605 0 0.3060709326844886" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.13396169857194523 0 -0.02548793047947978" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.13396169857194523 0 -0.02548793047947978" rpy="0 0 0"/>
            <geometry>
                <box size="0.26792339714389046 0.24084536229206732 0.05097586095895956" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.13396169857194523 0 -0.02548793047947978" rpy="0 0 0"/>
            <geometry>
                <box size="0.26792339714389046 0.24084536229206732 0.05097586095895956" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.45505416621241873 0 -0.14705979708497674" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.45505416621241873 0 -0.14705979708497674" rpy="0 0 0"/>
            <geometry>
                <box size="0.9101083324248375 0.39811251637952294 0.2941195941699535" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.45505416621241873 0 -0.14705979708497674" rpy="0 0 0"/>
            <geometry>
                <box size="0.9101083324248375 0.39811251637952294 0.2941195941699535" />
            </geometry>
        </collision>
    </link>
</robot>