<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.1291757853771096" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.1291757853771096" rpy="0 0 0"/>
            <geometry>
                <box size="0.3820750467541636 0.5245004579500028 0.258351570754219" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.1291757853771096" rpy="0 0 0"/>
            <geometry>
                <box size="0.3820750467541636 0.5245004579500028 0.258351570754219" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.2622502289750014 2.258351570754219" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.2622502289750014 -0.1291757853771095" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2622502289750014 -0.1291757853771095" rpy="0 0 0"/>
            <geometry>
                <box size="0.3820750467541636 0.5245004579500028 0.258351570754219" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2622502289750014 -0.1291757853771095" rpy="0 0 0"/>
            <geometry>
                <box size="0.3820750467541636 0.5245004579500028 0.258351570754219" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.5245004579500028 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.42244279335178403 0.30258901193959914" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.42244279335178403 0.30258901193959914" rpy="0 0 0"/>
            <geometry>
                <box size="0.7615380708393753 0.8448855867035681 0.6051780238791983" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.42244279335178403 0.30258901193959914" rpy="0 0 0"/>
            <geometry>
                <box size="0.7615380708393753 0.8448855867035681 0.6051780238791983" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.6051780238791983" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.45827130502141417 -0.1707724193127002" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.45827130502141417 -0.1707724193127002" rpy="0 0 0"/>
            <geometry>
                <box size="0.6069112156224978 0.9165426100428283 0.3415448386254004" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.45827130502141417 -0.1707724193127002" rpy="0 0 0"/>
            <geometry>
                <box size="0.6069112156224978 0.9165426100428283 0.3415448386254004" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.18319534558771816 0.432846170563891" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.18319534558771816 0.432846170563891" rpy="0 0 0"/>
            <geometry>
                <box size="0.7907952220671707 0.3663906911754363 0.865692341127782" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.18319534558771816 0.432846170563891" rpy="0 0 0"/>
            <geometry>
                <box size="0.7907952220671707 0.3663906911754363 0.865692341127782" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.865692341127782" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.07041147752379673 -0.22223324181159587" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.07041147752379673 -0.22223324181159587" rpy="0 0 0"/>
            <geometry>
                <box size="0.0684892708379563 0.14082295504759346 0.44446648362319174" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.07041147752379673 -0.22223324181159587" rpy="0 0 0"/>
            <geometry>
                <box size="0.0684892708379563 0.14082295504759346 0.44446648362319174" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 -0.14082295504759346 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 -0.3214256635499214 0.2732868039960531" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3214256635499214 0.2732868039960531" rpy="0 0 0"/>
            <geometry>
                <box size="0.8867494948529052 0.6428513270998428 0.5465736079921062" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3214256635499214 0.2732868039960531" rpy="0 0 0"/>
            <geometry>
                <box size="0.8867494948529052 0.6428513270998428 0.5465736079921062" />
            </geometry>
        </collision>
    </link>
</robot>