<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.261651869976844" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.261651869976844" rpy="0 0 0"/>
            <geometry>
                <box size="0.7307091479742611 0.6831887409663621 0.5233037399536876" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.261651869976844" rpy="0 0 0"/>
            <geometry>
                <box size="0.7307091479742611 0.6831887409663621 0.5233037399536876" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.34159437048318103 2.5233037399536875" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.34159437048318103 -0.2616518699768438" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.34159437048318103 -0.2616518699768438" rpy="0 0 0"/>
            <geometry>
                <box size="0.7307091479742611 0.6831887409663621 0.5233037399536876" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.34159437048318103 -0.2616518699768438" rpy="0 0 0"/>
            <geometry>
                <box size="0.7307091479742611 0.6831887409663621 0.5233037399536876" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.33086359547153443 -0.36692311218906226" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.33086359547153443 -0.36692311218906226" rpy="0 0 0"/>
            <geometry>
                <box size="0.7109032347751416 0.6617271909430689 0.7338462243781245" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.33086359547153443 -0.36692311218906226" rpy="0 0 0"/>
            <geometry>
                <box size="0.7109032347751416 0.6617271909430689 0.7338462243781245" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.6617271909430689 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.4073546944653974 0.16355005543010354" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4073546944653974 0.16355005543010354" rpy="0 0 0"/>
            <geometry>
                <box size="0.46775161242047536 0.8147093889307948 0.32710011086020707" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4073546944653974 0.16355005543010354" rpy="0 0 0"/>
            <geometry>
                <box size="0.46775161242047536 0.8147093889307948 0.32710011086020707" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.32710011086020707" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.4431826522354549 -0.027411039587191766" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4431826522354549 -0.027411039587191766" rpy="0 0 0"/>
            <geometry>
                <box size="0.30249113225563107 0.8863653044709098 0.05482207917438353" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4431826522354549 -0.027411039587191766" rpy="0 0 0"/>
            <geometry>
                <box size="0.30249113225563107 0.8863653044709098 0.05482207917438353" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.15124556612781553 0.4431826522354549 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.4314739969552606 0 0.2908564629813771" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4314739969552606 0 0.2908564629813771" rpy="0 0 0"/>
            <geometry>
                <box size="0.8629479939105212 0.506686536584778 0.5817129259627541" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4314739969552606 0 0.2908564629813771" rpy="0 0 0"/>
            <geometry>
                <box size="0.8629479939105212 0.506686536584778 0.5817129259627541" />
            </geometry>
        </collision>
    </link>
</robot>