<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.3223127963789576" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.3223127963789576" rpy="0 0 0"/>
            <geometry>
                <box size="0.3663924952620139 0.5454167736546345 0.6446255927579148" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.3223127963789576" rpy="0 0 0"/>
            <geometry>
                <box size="0.3663924952620139 0.5454167736546345 0.6446255927579148" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.27270838682731724 2.6446255927579148" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.27270838682731724 -0.3223127963789574" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.27270838682731724 -0.3223127963789574" rpy="0 0 0"/>
            <geometry>
                <box size="0.3663924952620139 0.5454167736546345 0.6446255927579148" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.27270838682731724 -0.3223127963789574" rpy="0 0 0"/>
            <geometry>
                <box size="0.3663924952620139 0.5454167736546345 0.6446255927579148" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.18319624763100695 0.27270838682731724 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.21847106774836655 0 -0.0037228313058711993" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.21847106774836655 0 -0.0037228313058711993" rpy="0 0 0"/>
            <geometry>
                <box size="0.4369421354967331 0.6367729719884268 0.0074456626117423985" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.21847106774836655 0 -0.0037228313058711993" rpy="0 0 0"/>
            <geometry>
                <box size="0.4369421354967331 0.6367729719884268 0.0074456626117423985" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.4369421354967331 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.1804250792982779 0 0.3729772423647854" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1804250792982779 0 0.3729772423647854" rpy="0 0 0"/>
            <geometry>
                <box size="0.3608501585965558 0.9899907449754715 0.7459544847295708" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1804250792982779 0 0.3729772423647854" rpy="0 0 0"/>
            <geometry>
                <box size="0.3608501585965558 0.9899907449754715 0.7459544847295708" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.7459544847295708" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.19494166504612687 0 -0.43440880967372675" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.19494166504612687 0 -0.43440880967372675" rpy="0 0 0"/>
            <geometry>
                <box size="0.38988333009225373 0.4783939533308076 0.8688176193474535" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19494166504612687 0 -0.43440880967372675" rpy="0 0 0"/>
            <geometry>
                <box size="0.38988333009225373 0.4783939533308076 0.8688176193474535" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.19494166504612687 0.2391969766654038 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0.2542262211145558 0.420857630821374" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2542262211145558 0.420857630821374" rpy="0 0 0"/>
            <geometry>
                <box size="0.8721935511097573 0.5084524422291116 0.841715261642748" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2542262211145558 0.420857630821374" rpy="0 0 0"/>
            <geometry>
                <box size="0.8721935511097573 0.5084524422291116 0.841715261642748" />
            </geometry>
        </collision>
    </link>
</robot>