<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.413199903984016" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.413199903984016" rpy="0 0 0"/>
            <geometry>
                <box size="0.04565672440123969 0.6853272947697712 0.826399807968032" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.413199903984016" rpy="0 0 0"/>
            <geometry>
                <box size="0.04565672440123969 0.6853272947697712 0.826399807968032" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.3426636473848856 2.826399807968032" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.3426636473848856 -0.413199903984016" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3426636473848856 -0.413199903984016" rpy="0 0 0"/>
            <geometry>
                <box size="0.04565672440123969 0.6853272947697712 0.826399807968032" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3426636473848856 -0.413199903984016" rpy="0 0 0"/>
            <geometry>
                <box size="0.04565672440123969 0.6853272947697712 0.826399807968032" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.6853272947697712 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.3327001174792789 0.4734172236034742" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3327001174792789 0.4734172236034742" rpy="0 0 0"/>
            <geometry>
                <box size="0.9558522259942666 0.6654002349585578 0.9468344472069484" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3327001174792789 0.4734172236034742" rpy="0 0 0"/>
            <geometry>
                <box size="0.9558522259942666 0.6654002349585578 0.9468344472069484" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.4779261129971333 0.3327001174792789 0.9468344472069484" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.18082837696944887 0 -0.31357847831156876" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.18082837696944887 0 -0.31357847831156876" rpy="0 0 0"/>
            <geometry>
                <box size="0.36165675393889773 0.9115983057147781 0.6271569566231375" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.18082837696944887 0 -0.31357847831156876" rpy="0 0 0"/>
            <geometry>
                <box size="0.36165675393889773 0.9115983057147781 0.6271569566231375" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.36165675393889773 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.44061701398699554 0 0.379652330113518" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.44061701398699554 0 0.379652330113518" rpy="0 0 0"/>
            <geometry>
                <box size="0.8812340279739911 0.15801313604609202 0.759304660227036" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.44061701398699554 0 0.379652330113518" rpy="0 0 0"/>
            <geometry>
                <box size="0.8812340279739911 0.15801313604609202 0.759304660227036" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.759304660227036" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.19532012346293431 0 -0.14527105934411866" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.19532012346293431 0 -0.14527105934411866" rpy="0 0 0"/>
            <geometry>
                <box size="0.39064024692586863 0.46386352444123546 0.2905421186882373" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.19532012346293431 0 -0.14527105934411866" rpy="0 0 0"/>
            <geometry>
                <box size="0.39064024692586863 0.46386352444123546 0.2905421186882373" />
            </geometry>
        </collision>
    </link>
</robot>