<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.4457118435406313" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.4457118435406313" rpy="0 0 0"/>
            <geometry>
                <box size="0.7392966530571019 0.8604692480732787 0.8914236870812627" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.4457118435406313" rpy="0 0 0"/>
            <geometry>
                <box size="0.7392966530571019 0.8604692480732787 0.8914236870812627" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.43023462403663937 2.8914236870812626" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.43023462403663937 -0.44571184354063137" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.43023462403663937 -0.44571184354063137" rpy="0 0 0"/>
            <geometry>
                <box size="0.7392966530571019 0.8604692480732787 0.8914236870812627" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.43023462403663937 -0.44571184354063137" rpy="0 0 0"/>
            <geometry>
                <box size="0.7392966530571019 0.8604692480732787 0.8914236870812627" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.36964832652855095 0.43023462403663937 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.2975729730486573 0 0.3332791277909951" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2975729730486573 0 0.3332791277909951" rpy="0 0 0"/>
            <geometry>
                <box size="0.5951459460973146 0.3056049784043281 0.6665582555819902" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2975729730486573 0 0.3332791277909951" rpy="0 0 0"/>
            <geometry>
                <box size="0.5951459460973146 0.3056049784043281 0.6665582555819902" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.5951459460973146 0 0.6665582555819902" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.2041543845008379 0 0.0015478613551395126" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2041543845008379 0 0.0015478613551395126" rpy="0 0 0"/>
            <geometry>
                <box size="0.4083087690016758 0.548582110269534 0.0030957227102790252" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2041543845008379 0 0.0015478613551395126" rpy="0 0 0"/>
            <geometry>
                <box size="0.4083087690016758 0.548582110269534 0.0030957227102790252" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.4083087690016758 0 0.0030957227102790252" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.345032129371254 0 -0.4570182233800529" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.345032129371254 0 -0.4570182233800529" rpy="0 0 0"/>
            <geometry>
                <box size="0.690064258742508 0.9261928980235606 0.9140364467601058" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.345032129371254 0 -0.4570182233800529" rpy="0 0 0"/>
            <geometry>
                <box size="0.690064258742508 0.9261928980235606 0.9140364467601058" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.3531812697748106 0 -0.05535037967663631" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3531812697748106 0 -0.05535037967663631" rpy="0 0 0"/>
            <geometry>
                <box size="0.7063625395496212 0.2105779296214617 0.11070075935327262" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3531812697748106 0 -0.05535037967663631" rpy="0 0 0"/>
            <geometry>
                <box size="0.7063625395496212 0.2105779296214617 0.11070075935327262" />
            </geometry>
        </collision>
    </link>
</robot>