<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.250062588293268" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.250062588293268" rpy="0 0 0"/>
            <geometry>
                <box size="0.844622538531327 0.6731723710916445 0.5001251765865362" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.250062588293268" rpy="0 0 0"/>
            <geometry>
                <box size="0.844622538531327 0.6731723710916445 0.5001251765865362" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.33658618554582226 2.500125176586536" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.33658618554582226 -0.2500625882932681" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.33658618554582226 -0.2500625882932681" rpy="0 0 0"/>
            <geometry>
                <box size="0.844622538531327 0.6731723710916445 0.5001251765865362" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.33658618554582226 -0.2500625882932681" rpy="0 0 0"/>
            <geometry>
                <box size="0.844622538531327 0.6731723710916445 0.5001251765865362" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.4223112692656635 0.33658618554582226 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.1035006409811608 0 -0.13773748265404473" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1035006409811608 0 -0.13773748265404473" rpy="0 0 0"/>
            <geometry>
                <box size="0.2070012819623216 0.22251796624245002 0.27547496530808946" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1035006409811608 0 -0.13773748265404473" rpy="0 0 0"/>
            <geometry>
                <box size="0.2070012819623216 0.22251796624245002 0.27547496530808946" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.24278806366265882 0 -0.024024753290279255" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.24278806366265882 0 -0.024024753290279255" rpy="0 0 0"/>
            <geometry>
                <box size="0.48557612732531763 0.15620650921552115 0.04804950658055851" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24278806366265882 0 -0.024024753290279255" rpy="0 0 0"/>
            <geometry>
                <box size="0.48557612732531763 0.15620650921552115 0.04804950658055851" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.48557612732531763 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.30584146685216784 0 0.39468981411976356" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.30584146685216784 0 0.39468981411976356" rpy="0 0 0"/>
            <geometry>
                <box size="0.6116829337043357 0.3211842442603766 0.7893796282395271" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.30584146685216784 0 0.39468981411976356" rpy="0 0 0"/>
            <geometry>
                <box size="0.6116829337043357 0.3211842442603766 0.7893796282395271" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.30584146685216784 -0.1605921221301883 0.7893796282395271" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.3430830262893871 -0.19949793249296188" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3430830262893871 -0.19949793249296188" rpy="0 0 0"/>
            <geometry>
                <box size="0.7358062670825462 0.6861660525787742 0.39899586498592376" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3430830262893871 -0.19949793249296188" rpy="0 0 0"/>
            <geometry>
                <box size="0.7358062670825462 0.6861660525787742 0.39899586498592376" />
            </geometry>
        </collision>
    </link>
</robot>