<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.494085741231524" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.494085741231524" rpy="0 0 0"/>
            <geometry>
                <box size="0.9210657784200827 0.89418876005245 0.9881714824630474" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.494085741231524" rpy="0 0 0"/>
            <geometry>
                <box size="0.9210657784200827 0.89418876005245 0.9881714824630474" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.447094380026225 2.9881714824630476" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.447094380026225 -0.4940857412315237" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.447094380026225 -0.4940857412315237" rpy="0 0 0"/>
            <geometry>
                <box size="0.9210657784200827 0.89418876005245 0.9881714824630474" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.447094380026225 -0.4940857412315237" rpy="0 0 0"/>
            <geometry>
                <box size="0.9210657784200827 0.89418876005245 0.9881714824630474" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.4605328892100414 0.447094380026225 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.4371508902436392 0 -0.039203764047809675" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4371508902436392 0 -0.039203764047809675" rpy="0 0 0"/>
            <geometry>
                <box size="0.8743017804872784 0.15082049491122318 0.07840752809561935" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4371508902436392 0 -0.039203764047809675" rpy="0 0 0"/>
            <geometry>
                <box size="0.8743017804872784 0.15082049491122318 0.07840752809561935" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.45270347702908237 0 -0.053746026855041096" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.45270347702908237 0 -0.053746026855041096" rpy="0 0 0"/>
            <geometry>
                <box size="0.9054069540581647 0.8363245424444441 0.10749205371008219" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.45270347702908237 0 -0.053746026855041096" rpy="0 0 0"/>
            <geometry>
                <box size="0.9054069540581647 0.8363245424444441 0.10749205371008219" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.45270347702908237 0.41816227122222205 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.3194218120435482 -0.15524369860746212" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3194218120435482 -0.15524369860746212" rpy="0 0 0"/>
            <geometry>
                <box size="0.7883537534154705 0.6388436240870964 0.31048739721492424" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3194218120435482 -0.15524369860746212" rpy="0 0 0"/>
            <geometry>
                <box size="0.7883537534154705 0.6388436240870964 0.31048739721492424" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.39417687670773527 0.3194218120435482 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.07864841826898411 0 -0.1988517666877666" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07864841826898411 0 -0.1988517666877666" rpy="0 0 0"/>
            <geometry>
                <box size="0.15729683653796822 0.5491279497439252 0.3977035333755332" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07864841826898411 0 -0.1988517666877666" rpy="0 0 0"/>
            <geometry>
                <box size="0.15729683653796822 0.5491279497439252 0.3977035333755332" />
            </geometry>
        </collision>
    </link>
</robot>