<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.456802002012113" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.456802002012113" rpy="0 0 0"/>
            <geometry>
                <box size="0.7647820351393485 0.6370821328090891 0.9136040040242259" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.456802002012113" rpy="0 0 0"/>
            <geometry>
                <box size="0.7647820351393485 0.6370821328090891 0.9136040040242259" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.31854106640454455 2.9136040040242257" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.31854106640454455 -0.45680200201211296" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.31854106640454455 -0.45680200201211296" rpy="0 0 0"/>
            <geometry>
                <box size="0.7647820351393485 0.6370821328090891 0.9136040040242259" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.31854106640454455 -0.45680200201211296" rpy="0 0 0"/>
            <geometry>
                <box size="0.7647820351393485 0.6370821328090891 0.9136040040242259" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.11099121491878133 -0.21466611752204573" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.11099121491878133 -0.21466611752204573" rpy="0 0 0"/>
            <geometry>
                <box size="0.1384555115879641 0.22198242983756267 0.42933223504409146" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.11099121491878133 -0.21466611752204573" rpy="0 0 0"/>
            <geometry>
                <box size="0.1384555115879641 0.22198242983756267 0.42933223504409146" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.22198242983756267 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.018797104618657245 -0.23606423291451217" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.018797104618657245 -0.23606423291451217" rpy="0 0 0"/>
            <geometry>
                <box size="0.8241915094207531 0.03759420923731449 0.47212846582902435" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.018797104618657245 -0.23606423291451217" rpy="0 0 0"/>
            <geometry>
                <box size="0.8241915094207531 0.03759420923731449 0.47212846582902435" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.26317491886550315 -0.003390412283064581" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.26317491886550315 -0.003390412283064581" rpy="0 0 0"/>
            <geometry>
                <box size="0.24719574348188667 0.5263498377310063 0.006780824566129162" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.26317491886550315 -0.003390412283064581" rpy="0 0 0"/>
            <geometry>
                <box size="0.24719574348188667 0.5263498377310063 0.006780824566129162" />
            </geometry>
        </collision>
    </link>
</robot>