<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.2929448652790403" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.2929448652790403" rpy="0 0 0"/>
            <geometry>
                <box size="0.596103514968068 0.7505273073426741 0.5858897305580808" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.2929448652790403" rpy="0 0 0"/>
            <geometry>
                <box size="0.596103514968068 0.7505273073426741 0.5858897305580808" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.37526365367133707 2.5858897305580806" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.37526365367133707 -0.2929448652790404" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.37526365367133707 -0.2929448652790404" rpy="0 0 0"/>
            <geometry>
                <box size="0.596103514968068 0.7505273073426741 0.5858897305580808" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.37526365367133707 -0.2929448652790404" rpy="0 0 0"/>
            <geometry>
                <box size="0.596103514968068 0.7505273073426741 0.5858897305580808" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.18759818132207134 0.005103639543538874" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.18759818132207134 0.005103639543538874" rpy="0 0 0"/>
            <geometry>
                <box size="0.31051699128985577 0.3751963626441427 0.010207279087077747" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.18759818132207134 0.005103639543538874" rpy="0 0 0"/>
            <geometry>
                <box size="0.31051699128985577 0.3751963626441427 0.010207279087077747" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.3751963626441427 0.010207279087077747" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.2596147577005328 0.41010181347328006" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2596147577005328 0.41010181347328006" rpy="0 0 0"/>
            <geometry>
                <box size="0.19874129722306577 0.5192295154010657 0.8202036269465601" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2596147577005328 0.41010181347328006" rpy="0 0 0"/>
            <geometry>
                <box size="0.19874129722306577 0.5192295154010657 0.8202036269465601" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.09937064861153289 -0.2596147577005328 0.8202036269465601" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.14392295180124087 0 -0.07434653833306198" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.14392295180124087 0 -0.07434653833306198" rpy="0 0 0"/>
            <geometry>
                <box size="0.28784590360248175 0.2478721188639097 0.14869307666612397" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.14392295180124087 0 -0.07434653833306198" rpy="0 0 0"/>
            <geometry>
                <box size="0.28784590360248175 0.2478721188639097 0.14869307666612397" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.28784590360248175 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.47501164912332783 0 -0.410088223502977" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.47501164912332783 0 -0.410088223502977" rpy="0 0 0"/>
            <geometry>
                <box size="0.9500232982466557 0.8277213641787857 0.820176447005954" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.47501164912332783 0 -0.410088223502977" rpy="0 0 0"/>
            <geometry>
                <box size="0.9500232982466557 0.8277213641787857 0.820176447005954" />
            </geometry>
        </collision>
    </link>
</robot>