<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0637910678012603" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0637910678012603" rpy="0 0 0"/>
            <geometry>
                <box size="0.1098184020219719 0.6111376555436703 0.1275821356025204" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0637910678012603" rpy="0 0 0"/>
            <geometry>
                <box size="0.1098184020219719 0.6111376555436703 0.1275821356025204" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.30556882777183514 2.1275821356025206" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.30556882777183514 -0.0637910678012602" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.30556882777183514 -0.0637910678012602" rpy="0 0 0"/>
            <geometry>
                <box size="0.1098184020219719 0.6111376555436703 0.1275821356025204" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.30556882777183514 -0.0637910678012602" rpy="0 0 0"/>
            <geometry>
                <box size="0.1098184020219719 0.6111376555436703 0.1275821356025204" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.05490920101098595 0.30556882777183514 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.46693061938775315 0 -0.1925528749296796" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.46693061938775315 0 -0.1925528749296796" rpy="0 0 0"/>
            <geometry>
                <box size="0.9338612387755063 0.6241284014380032 0.3851057498593592" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.46693061938775315 0 -0.1925528749296796" rpy="0 0 0"/>
            <geometry>
                <box size="0.9338612387755063 0.6241284014380032 0.3851057498593592" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.9338612387755063 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.2844785248673596 0 -0.013197249402719935" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2844785248673596 0 -0.013197249402719935" rpy="0 0 0"/>
            <geometry>
                <box size="0.5689570497347192 0.04599047618890861 0.02639449880543987" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2844785248673596 0 -0.013197249402719935" rpy="0 0 0"/>
            <geometry>
                <box size="0.5689570497347192 0.04599047618890861 0.02639449880543987" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.2822189703954161 0 -0.3045381815204836" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2822189703954161 0 -0.3045381815204836" rpy="0 0 0"/>
            <geometry>
                <box size="0.5644379407908322 0.9924551018610966 0.6090763630409672" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2822189703954161 0 -0.3045381815204836" rpy="0 0 0"/>
            <geometry>
                <box size="0.5644379407908322 0.9924551018610966 0.6090763630409672" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.5644379407908322 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.16078373219805547 0 -0.23628952543063697" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.16078373219805547 0 -0.23628952543063697" rpy="0 0 0"/>
            <geometry>
                <box size="0.32156746439611095 0.7319268463031036 0.47257905086127394" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.16078373219805547 0 -0.23628952543063697" rpy="0 0 0"/>
            <geometry>
                <box size="0.32156746439611095 0.7319268463031036 0.47257905086127394" />
            </geometry>
        </collision>
    </link>
</robot>