<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.068355456463511" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.068355456463511" rpy="0 0 0"/>
            <geometry>
                <box size="0.6251136326016509 0.1557980198878135 0.13671091292702187" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.068355456463511" rpy="0 0 0"/>
            <geometry>
                <box size="0.6251136326016509 0.1557980198878135 0.13671091292702187" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.07789900994390675 2.136710912927022" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.07789900994390675 -0.06835545646351093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.07789900994390675 -0.06835545646351093" rpy="0 0 0"/>
            <geometry>
                <box size="0.6251136326016509 0.1557980198878135 0.13671091292702187" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.07789900994390675 -0.06835545646351093" rpy="0 0 0"/>
            <geometry>
                <box size="0.6251136326016509 0.1557980198878135 0.13671091292702187" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.31255681630082544 0.07789900994390675 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.34781035504432656 0 -0.47461526815787297" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.34781035504432656 0 -0.47461526815787297" rpy="0 0 0"/>
            <geometry>
                <box size="0.6956207100886531 0.14297679238359917 0.9492305363157459" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.34781035504432656 0 -0.47461526815787297" rpy="0 0 0"/>
            <geometry>
                <box size="0.6956207100886531 0.14297679238359917 0.9492305363157459" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.6956207100886531 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.021535058078005653 0 0.409751841396401" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.021535058078005653 0 0.409751841396401" rpy="0 0 0"/>
            <geometry>
                <box size="0.04307011615601131 0.20815844546210283 0.819503682792802" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.021535058078005653 0 0.409751841396401" rpy="0 0 0"/>
            <geometry>
                <box size="0.04307011615601131 0.20815844546210283 0.819503682792802" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.819503682792802" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.1459168277708245 0 -0.13095467839647507" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1459168277708245 0 -0.13095467839647507" rpy="0 0 0"/>
            <geometry>
                <box size="0.291833655541649 0.5540720659661617 0.26190935679295013" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1459168277708245 0 -0.13095467839647507" rpy="0 0 0"/>
            <geometry>
                <box size="0.291833655541649 0.5540720659661617 0.26190935679295013" />
            </geometry>
        </collision>
    </link>
</robot>