<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.355532491617484" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.355532491617484" rpy="0 0 0"/>
            <geometry>
                <box size="0.8095492410291426 0.5869727612305892 0.7110649832349679" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.355532491617484" rpy="0 0 0"/>
            <geometry>
                <box size="0.8095492410291426 0.5869727612305892 0.7110649832349679" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.2934863806152946 2.711064983234968" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.2934863806152946 -0.35553249161748396" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2934863806152946 -0.35553249161748396" rpy="0 0 0"/>
            <geometry>
                <box size="0.8095492410291426 0.5869727612305892 0.7110649832349679" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2934863806152946 -0.35553249161748396" rpy="0 0 0"/>
            <geometry>
                <box size="0.8095492410291426 0.5869727612305892 0.7110649832349679" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.4047746205145713 0.2934863806152946 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.3189056310299262 0 -0.25654674602053656" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3189056310299262 0 -0.25654674602053656" rpy="0 0 0"/>
            <geometry>
                <box size="0.6378112620598524 0.842077974610474 0.5130934920410731" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3189056310299262 0 -0.25654674602053656" rpy="0 0 0"/>
            <geometry>
                <box size="0.6378112620598524 0.842077974610474 0.5130934920410731" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.3189056310299262 -0.421038987305237 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.320437091205473 -0.01915007468228408" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.320437091205473 -0.01915007468228408" rpy="0 0 0"/>
            <geometry>
                <box size="0.3278256508633579 0.640874182410946 0.03830014936456816" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.320437091205473 -0.01915007468228408" rpy="0 0 0"/>
            <geometry>
                <box size="0.3278256508633579 0.640874182410946 0.03830014936456816" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.2157320768619072 0.29577512294858876" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2157320768619072 0.29577512294858876" rpy="0 0 0"/>
            <geometry>
                <box size="0.6381196598020318 0.4314641537238144 0.5915502458971775" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2157320768619072 0.29577512294858876" rpy="0 0 0"/>
            <geometry>
                <box size="0.6381196598020318 0.4314641537238144 0.5915502458971775" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5915502458971775" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.4190480018648714 0.1077179559878656" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4190480018648714 0.1077179559878656" rpy="0 0 0"/>
            <geometry>
                <box size="0.29400422192995757 0.8380960037297428 0.2154359119757312" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4190480018648714 0.1077179559878656" rpy="0 0 0"/>
            <geometry>
                <box size="0.29400422192995757 0.8380960037297428 0.2154359119757312" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.2154359119757312" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.37969955244592646 -0.41553280216996874" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.37969955244592646 -0.41553280216996874" rpy="0 0 0"/>
            <geometry>
                <box size="0.37259142687951186 0.7593991048918529 0.8310656043399375" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.37969955244592646 -0.41553280216996874" rpy="0 0 0"/>
            <geometry>
                <box size="0.37259142687951186 0.7593991048918529 0.8310656043399375" />
            </geometry>
        </collision>
    </link>
</robot>