<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.208549724021367" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.208549724021367" rpy="0 0 0"/>
            <geometry>
                <box size="0.6073315684625262 0.8257018566759691 0.417099448042734" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.208549724021367" rpy="0 0 0"/>
            <geometry>
                <box size="0.6073315684625262 0.8257018566759691 0.417099448042734" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.41285092833798454 2.417099448042734" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.41285092833798454 -0.208549724021367" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.41285092833798454 -0.208549724021367" rpy="0 0 0"/>
            <geometry>
                <box size="0.6073315684625262 0.8257018566759691 0.417099448042734" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.41285092833798454 -0.208549724021367" rpy="0 0 0"/>
            <geometry>
                <box size="0.6073315684625262 0.8257018566759691 0.417099448042734" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.3113166232876009 0.03250820222786682" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3113166232876009 0.03250820222786682" rpy="0 0 0"/>
            <geometry>
                <box size="0.15333532644332493 0.6226332465752018 0.06501640445573365" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3113166232876009 0.03250820222786682" rpy="0 0 0"/>
            <geometry>
                <box size="0.15333532644332493 0.6226332465752018 0.06501640445573365" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.07666766322166246 -0.3113166232876009 0.06501640445573365" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.28832244854766464 0 -0.3660292063647329" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.28832244854766464 0 -0.3660292063647329" rpy="0 0 0"/>
            <geometry>
                <box size="0.5766448970953293 0.12844971549736972 0.7320584127294658" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.28832244854766464 0 -0.3660292063647329" rpy="0 0 0"/>
            <geometry>
                <box size="0.5766448970953293 0.12844971549736972 0.7320584127294658" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.28832244854766464 -0.06422485774868486 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 -0.03912522173039357 0.3124558467612599" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.03912522173039357 0.3124558467612599" rpy="0 0 0"/>
            <geometry>
                <box size="0.48399323268364103 0.07825044346078713 0.6249116935225199" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.03912522173039357 0.3124558467612599" rpy="0 0 0"/>
            <geometry>
                <box size="0.48399323268364103 0.07825044346078713 0.6249116935225199" />
            </geometry>
        </collision>
    </link>
</robot>