<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.2135534919593436" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.2135534919593436" rpy="0 0 0"/>
            <geometry>
                <box size="0.22474393653136593 0.30158714917729823 0.4271069839186876" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.2135534919593436" rpy="0 0 0"/>
            <geometry>
                <box size="0.22474393653136593 0.30158714917729823 0.4271069839186876" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.15079357458864912 2.4271069839186876" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.15079357458864912 -0.2135534919593438" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.15079357458864912 -0.2135534919593438" rpy="0 0 0"/>
            <geometry>
                <box size="0.22474393653136593 0.30158714917729823 0.4271069839186876" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.15079357458864912 -0.2135534919593438" rpy="0 0 0"/>
            <geometry>
                <box size="0.22474393653136593 0.30158714917729823 0.4271069839186876" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.30158714917729823 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.014547454773145896 -0.15096232179249286" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.014547454773145896 -0.15096232179249286" rpy="0 0 0"/>
            <geometry>
                <box size="0.9389373027548545 0.02909490954629179 0.3019246435849857" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.014547454773145896 -0.15096232179249286" rpy="0 0 0"/>
            <geometry>
                <box size="0.9389373027548545 0.02909490954629179 0.3019246435849857" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.46946865137742727 0.014547454773145896 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.4490513815835046 0 0.06827429544229036" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4490513815835046 0 0.06827429544229036" rpy="0 0 0"/>
            <geometry>
                <box size="0.8981027631670092 0.5073006964375076 0.1365485908845807" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4490513815835046 0 0.06827429544229036" rpy="0 0 0"/>
            <geometry>
                <box size="0.8981027631670092 0.5073006964375076 0.1365485908845807" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.8981027631670092 0 0.1365485908845807" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.15230511576102795 0 -0.2745804137209083" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15230511576102795 0 -0.2745804137209083" rpy="0 0 0"/>
            <geometry>
                <box size="0.3046102315220559 0.47856804249930407 0.5491608274418166" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15230511576102795 0 -0.2745804137209083" rpy="0 0 0"/>
            <geometry>
                <box size="0.3046102315220559 0.47856804249930407 0.5491608274418166" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.15230511576102795 -0.23928402124965203 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.02390934749509671 -0.3954746322196838" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.02390934749509671 -0.3954746322196838" rpy="0 0 0"/>
            <geometry>
                <box size="0.08939854146753146 0.04781869499019342 0.7909492644393676" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.02390934749509671 -0.3954746322196838" rpy="0 0 0"/>
            <geometry>
                <box size="0.08939854146753146 0.04781869499019342 0.7909492644393676" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.16128251973807234 -0.2040368362109113" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.16128251973807234 -0.2040368362109113" rpy="0 0 0"/>
            <geometry>
                <box size="0.1568369076168693 0.3225650394761447 0.4080736724218226" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.16128251973807234 -0.2040368362109113" rpy="0 0 0"/>
            <geometry>
                <box size="0.1568369076168693 0.3225650394761447 0.4080736724218226" />
            </geometry>
        </collision>
    </link>
</robot>