<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0883906811418393" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0883906811418393" rpy="0 0 0"/>
            <geometry>
                <box size="0.4750410076337187 0.804448131239217 0.17678136228367847" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0883906811418393" rpy="0 0 0"/>
            <geometry>
                <box size="0.4750410076337187 0.804448131239217 0.17678136228367847" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4022240656196085 2.1767813622836787" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.4022240656196085 -0.08839068114183923" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4022240656196085 -0.08839068114183923" rpy="0 0 0"/>
            <geometry>
                <box size="0.4750410076337187 0.804448131239217 0.17678136228367847" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4022240656196085 -0.08839068114183923" rpy="0 0 0"/>
            <geometry>
                <box size="0.4750410076337187 0.804448131239217 0.17678136228367847" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.804448131239217 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.007809424683687838 0.2907785541657541" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.007809424683687838 0.2907785541657541" rpy="0 0 0"/>
            <geometry>
                <box size="0.6870344850586975 0.015618849367375676 0.5815571083315082" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.007809424683687838 0.2907785541657541" rpy="0 0 0"/>
            <geometry>
                <box size="0.6870344850586975 0.015618849367375676 0.5815571083315082" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.34351724252934873 0.007809424683687838 0.5815571083315082" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.2950441094070739 0 -0.15579678173187894" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2950441094070739 0 -0.15579678173187894" rpy="0 0 0"/>
            <geometry>
                <box size="0.5900882188141477 0.2665678065936208 0.3115935634637579" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2950441094070739 0 -0.15579678173187894" rpy="0 0 0"/>
            <geometry>
                <box size="0.5900882188141477 0.2665678065936208 0.3115935634637579" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.5900882188141477 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.17405575991253602 0 0.4638529392919347" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17405575991253602 0 0.4638529392919347" rpy="0 0 0"/>
            <geometry>
                <box size="0.34811151982507205 0.02304186093520466 0.9277058785838694" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17405575991253602 0 0.4638529392919347" rpy="0 0 0"/>
            <geometry>
                <box size="0.34811151982507205 0.02304186093520466 0.9277058785838694" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.9277058785838694" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.387216592883747 0 0.21630925883096525" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.387216592883747 0 0.21630925883096525" rpy="0 0 0"/>
            <geometry>
                <box size="0.774433185767494 0.22963917802925293 0.4326185176619305" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.387216592883747 0 0.21630925883096525" rpy="0 0 0"/>
            <geometry>
                <box size="0.774433185767494 0.22963917802925293 0.4326185176619305" />
            </geometry>
        </collision>
    </link>
</robot>