<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.344490312385376" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.344490312385376" rpy="0 0 0"/>
            <geometry>
                <box size="0.5410708792016179 0.9828577657551949 0.6889806247707526" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.344490312385376" rpy="0 0 0"/>
            <geometry>
                <box size="0.5410708792016179 0.9828577657551949 0.6889806247707526" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.49142888287759745 2.6889806247707524" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.49142888287759745 -0.3444903123853763" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.49142888287759745 -0.3444903123853763" rpy="0 0 0"/>
            <geometry>
                <box size="0.5410708792016179 0.9828577657551949 0.6889806247707526" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.49142888287759745 -0.3444903123853763" rpy="0 0 0"/>
            <geometry>
                <box size="0.5410708792016179 0.9828577657551949 0.6889806247707526" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.27053543960080895 0.49142888287759745 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.08085560886642368 0 -0.16774576896890514" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.08085560886642368 0 -0.16774576896890514" rpy="0 0 0"/>
            <geometry>
                <box size="0.16171121773284736 0.6805901224189729 0.3354915379378103" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.08085560886642368 0 -0.16774576896890514" rpy="0 0 0"/>
            <geometry>
                <box size="0.16171121773284736 0.6805901224189729 0.3354915379378103" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.08085560886642368 0.34029506120948644 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.2603885588244392 -0.05477930194496733" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2603885588244392 -0.05477930194496733" rpy="0 0 0"/>
            <geometry>
                <box size="0.6031108381261464 0.5207771176488784 0.10955860388993466" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2603885588244392 -0.05477930194496733" rpy="0 0 0"/>
            <geometry>
                <box size="0.6031108381261464 0.5207771176488784 0.10955860388993466" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.5207771176488784 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.3547721856988632 -0.4222346660863467" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3547721856988632 -0.4222346660863467" rpy="0 0 0"/>
            <geometry>
                <box size="0.01392346099938091 0.7095443713977264 0.8444693321726934" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3547721856988632 -0.4222346660863467" rpy="0 0 0"/>
            <geometry>
                <box size="0.01392346099938091 0.7095443713977264 0.8444693321726934" />
            </geometry>
        </collision>
    </link>
</robot>