<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.233736034651315" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.233736034651315" rpy="0 0 0"/>
            <geometry>
                <box size="0.2901486541350682 0.5878063623297919 0.4674720693026303" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.233736034651315" rpy="0 0 0"/>
            <geometry>
                <box size="0.2901486541350682 0.5878063623297919 0.4674720693026303" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.29390318116489594 2.46747206930263" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.29390318116489594 -0.23373603465131515" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.29390318116489594 -0.23373603465131515" rpy="0 0 0"/>
            <geometry>
                <box size="0.2901486541350682 0.5878063623297919 0.4674720693026303" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.29390318116489594 -0.23373603465131515" rpy="0 0 0"/>
            <geometry>
                <box size="0.2901486541350682 0.5878063623297919 0.4674720693026303" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.1450743270675341 0.29390318116489594 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.2860611243459773 0 0.41261734716041215" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2860611243459773 0 0.41261734716041215" rpy="0 0 0"/>
            <geometry>
                <box size="0.5721222486919546 0.5684352276257919 0.8252346943208243" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2860611243459773 0 0.41261734716041215" rpy="0 0 0"/>
            <geometry>
                <box size="0.5721222486919546 0.5684352276257919 0.8252346943208243" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.8252346943208243" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.40743825002508033 0 0.42393551901680926" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.40743825002508033 0 0.42393551901680926" rpy="0 0 0"/>
            <geometry>
                <box size="0.8148765000501607 0.11732760335885761 0.8478710380336185" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.40743825002508033 0 0.42393551901680926" rpy="0 0 0"/>
            <geometry>
                <box size="0.8148765000501607 0.11732760335885761 0.8478710380336185" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.40743825002508033 0.058663801679428806 0.8478710380336185" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.3922938140379174 0.13669158426471145" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3922938140379174 0.13669158426471145" rpy="0 0 0"/>
            <geometry>
                <box size="0.6865420378211053 0.7845876280758348 0.2733831685294229" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3922938140379174 0.13669158426471145" rpy="0 0 0"/>
            <geometry>
                <box size="0.6865420378211053 0.7845876280758348 0.2733831685294229" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.2733831685294229" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.448967582680138 -0.0960876776603069" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.448967582680138 -0.0960876776603069" rpy="0 0 0"/>
            <geometry>
                <box size="0.5455388131904964 0.897935165360276 0.1921753553206138" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.448967582680138 -0.0960876776603069" rpy="0 0 0"/>
            <geometry>
                <box size="0.5455388131904964 0.897935165360276 0.1921753553206138" />
            </geometry>
        </collision>
    </link>
</robot>