<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.2859963833281602" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.2859963833281602" rpy="0 0 0"/>
            <geometry>
                <box size="0.9540205123401574 0.5030712595536522 0.5719927666563207" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.2859963833281602" rpy="0 0 0"/>
            <geometry>
                <box size="0.9540205123401574 0.5030712595536522 0.5719927666563207" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.2515356297768261 2.5719927666563205" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.2515356297768261 -0.28599638332816035" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2515356297768261 -0.28599638332816035" rpy="0 0 0"/>
            <geometry>
                <box size="0.9540205123401574 0.5030712595536522 0.5719927666563207" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2515356297768261 -0.28599638332816035" rpy="0 0 0"/>
            <geometry>
                <box size="0.9540205123401574 0.5030712595536522 0.5719927666563207" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.5030712595536522 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.3644558051442131 0.4837016112206956" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3644558051442131 0.4837016112206956" rpy="0 0 0"/>
            <geometry>
                <box size="0.49896663367868355 0.7289116102884262 0.9674032224413912" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3644558051442131 0.4837016112206956" rpy="0 0 0"/>
            <geometry>
                <box size="0.49896663367868355 0.7289116102884262 0.9674032224413912" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.9674032224413912" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.1501500933265419 0.15765116898441267" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1501500933265419 0.15765116898441267" rpy="0 0 0"/>
            <geometry>
                <box size="0.9029560422778763 0.3003001866530838 0.31530233796882534" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1501500933265419 0.15765116898441267" rpy="0 0 0"/>
            <geometry>
                <box size="0.9029560422778763 0.3003001866530838 0.31530233796882534" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.31530233796882534" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.18324619865600283 0.2454275840204886" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.18324619865600283 0.2454275840204886" rpy="0 0 0"/>
            <geometry>
                <box size="0.6754009047208518 0.36649239731200567 0.4908551680409772" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.18324619865600283 0.2454275840204886" rpy="0 0 0"/>
            <geometry>
                <box size="0.6754009047208518 0.36649239731200567 0.4908551680409772" />
            </geometry>
        </collision>
    </link>
</robot>