<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.294182005119966" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.294182005119966" rpy="0 0 0"/>
            <geometry>
                <box size="0.34115522594081893 0.8748820689720235 0.5883640102399317" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.294182005119966" rpy="0 0 0"/>
            <geometry>
                <box size="0.34115522594081893 0.8748820689720235 0.5883640102399317" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.43744103448601174 2.588364010239932" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.43744103448601174 -0.29418200511996584" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.43744103448601174 -0.29418200511996584" rpy="0 0 0"/>
            <geometry>
                <box size="0.34115522594081893 0.8748820689720235 0.5883640102399317" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.43744103448601174 -0.29418200511996584" rpy="0 0 0"/>
            <geometry>
                <box size="0.34115522594081893 0.8748820689720235 0.5883640102399317" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.17057761297040946 0.43744103448601174 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.4518708071083146 0 0.11255577542287665" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4518708071083146 0 0.11255577542287665" rpy="0 0 0"/>
            <geometry>
                <box size="0.9037416142166292 0.04211133798860167 0.2251115508457533" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4518708071083146 0 0.11255577542287665" rpy="0 0 0"/>
            <geometry>
                <box size="0.9037416142166292 0.04211133798860167 0.2251115508457533" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.2251115508457533" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.3256392244520088 0 -0.11489036669728842" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3256392244520088 0 -0.11489036669728842" rpy="0 0 0"/>
            <geometry>
                <box size="0.6512784489040176 0.12281558023053774 0.22978073339457683" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3256392244520088 0 -0.11489036669728842" rpy="0 0 0"/>
            <geometry>
                <box size="0.6512784489040176 0.12281558023053774 0.22978073339457683" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.6512784489040176 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.36215011106279205 0 0.3417204259787831" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.36215011106279205 0 0.3417204259787831" rpy="0 0 0"/>
            <geometry>
                <box size="0.7243002221255841 0.3986710070436722 0.6834408519575662" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.36215011106279205 0 0.3417204259787831" rpy="0 0 0"/>
            <geometry>
                <box size="0.7243002221255841 0.3986710070436722 0.6834408519575662" />
            </geometry>
        </collision>
    </link>
</robot>