<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.1757853367432247" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.1757853367432247" rpy="0 0 0"/>
            <geometry>
                <box size="0.11477492122960165 0.06906159644091925 0.35157067348644966" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.1757853367432247" rpy="0 0 0"/>
            <geometry>
                <box size="0.11477492122960165 0.06906159644091925 0.35157067348644966" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.034530798220459624 2.3515706734864494" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.034530798220459624 -0.17578533674322483" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.034530798220459624 -0.17578533674322483" rpy="0 0 0"/>
            <geometry>
                <box size="0.11477492122960165 0.06906159644091925 0.35157067348644966" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.034530798220459624 -0.17578533674322483" rpy="0 0 0"/>
            <geometry>
                <box size="0.11477492122960165 0.06906159644091925 0.35157067348644966" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.06906159644091925 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.1705081139244568 -0.07759836820078925" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1705081139244568 -0.07759836820078925" rpy="0 0 0"/>
            <geometry>
                <box size="0.5541088708071384 0.3410162278489136 0.1551967364015785" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1705081139244568 -0.07759836820078925" rpy="0 0 0"/>
            <geometry>
                <box size="0.5541088708071384 0.3410162278489136 0.1551967364015785" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.2770544354035692 0.1705081139244568 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.46132159728449423 0 -0.05802196829735645" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.46132159728449423 0 -0.05802196829735645" rpy="0 0 0"/>
            <geometry>
                <box size="0.9226431945689885 0.1967433714343081 0.1160439365947129" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.46132159728449423 0 -0.05802196829735645" rpy="0 0 0"/>
            <geometry>
                <box size="0.9226431945689885 0.1967433714343081 0.1160439365947129" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.9226431945689885 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.2879511338453699 0 0.33257041811849686" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2879511338453699 0 0.33257041811849686" rpy="0 0 0"/>
            <geometry>
                <box size="0.5759022676907398 0.7108740994719233 0.6651408362369937" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2879511338453699 0 0.33257041811849686" rpy="0 0 0"/>
            <geometry>
                <box size="0.5759022676907398 0.7108740994719233 0.6651408362369937" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.6651408362369937" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.039105939158392 0 -0.1139175083789637" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.039105939158392 0 -0.1139175083789637" rpy="0 0 0"/>
            <geometry>
                <box size="0.078211878316784 0.35181412211441465 0.2278350167579274" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.039105939158392 0 -0.1139175083789637" rpy="0 0 0"/>
            <geometry>
                <box size="0.078211878316784 0.35181412211441465 0.2278350167579274" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.039105939158392 0.17590706105720733 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.32322406001699777 -0.37362392772032227" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.32322406001699777 -0.37362392772032227" rpy="0 0 0"/>
            <geometry>
                <box size="0.978630591476441 0.6464481200339955 0.7472478554406445" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.32322406001699777 -0.37362392772032227" rpy="0 0 0"/>
            <geometry>
                <box size="0.978630591476441 0.6464481200339955 0.7472478554406445" />
            </geometry>
        </collision>
    </link>
</robot>