<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.3082529761928696" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.3082529761928696" rpy="0 0 0"/>
            <geometry>
                <box size="0.45623273412788456 0.8940785457194322 0.6165059523857391" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.3082529761928696" rpy="0 0 0"/>
            <geometry>
                <box size="0.45623273412788456 0.8940785457194322 0.6165059523857391" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4470392728597161 2.6165059523857392" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.4470392728597161 -0.30825297619286957" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4470392728597161 -0.30825297619286957" rpy="0 0 0"/>
            <geometry>
                <box size="0.45623273412788456 0.8940785457194322 0.6165059523857391" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4470392728597161 -0.30825297619286957" rpy="0 0 0"/>
            <geometry>
                <box size="0.45623273412788456 0.8940785457194322 0.6165059523857391" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.21133563009933243 -0.38319850724861826" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.21133563009933243 -0.38319850724861826" rpy="0 0 0"/>
            <geometry>
                <box size="0.895330816158614 0.42267126019866486 0.7663970144972365" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.21133563009933243 -0.38319850724861826" rpy="0 0 0"/>
            <geometry>
                <box size="0.895330816158614 0.42267126019866486 0.7663970144972365" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.12357192224258778 0.39963648484593994" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.12357192224258778 0.39963648484593994" rpy="0 0 0"/>
            <geometry>
                <box size="0.6288073598743382 0.24714384448517557 0.7992729696918799" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.12357192224258778 0.39963648484593994" rpy="0 0 0"/>
            <geometry>
                <box size="0.6288073598743382 0.24714384448517557 0.7992729696918799" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.3144036799371691 0.12357192224258778 0.7992729696918799" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.36133769953001865 0 0.27429524746729417" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.36133769953001865 0 0.27429524746729417" rpy="0 0 0"/>
            <geometry>
                <box size="0.7226753990600373 0.5478914799849616 0.5485904949345883" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.36133769953001865 0 0.27429524746729417" rpy="0 0 0"/>
            <geometry>
                <box size="0.7226753990600373 0.5478914799849616 0.5485904949345883" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.7226753990600373 0 0.5485904949345883" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.4062948434601921 0 0.06998537650305753" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4062948434601921 0 0.06998537650305753" rpy="0 0 0"/>
            <geometry>
                <box size="0.8125896869203842 0.5717155809597623 0.13997075300611506" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4062948434601921 0 0.06998537650305753" rpy="0 0 0"/>
            <geometry>
                <box size="0.8125896869203842 0.5717155809597623 0.13997075300611506" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.8125896869203842 0 0.13997075300611506" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.240383731297386 0 -0.13720996136382813" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.240383731297386 0 -0.13720996136382813" rpy="0 0 0"/>
            <geometry>
                <box size="0.480767462594772 0.1747317715230049 0.27441992272765625" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.240383731297386 0 -0.13720996136382813" rpy="0 0 0"/>
            <geometry>
                <box size="0.480767462594772 0.1747317715230049 0.27441992272765625" />
            </geometry>
        </collision>
    </link>
</robot>