<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.167927676693055" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.167927676693055" rpy="0 0 0"/>
            <geometry>
                <box size="0.3407988334380838 0.0991808051852292 0.33585535338610994" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.167927676693055" rpy="0 0 0"/>
            <geometry>
                <box size="0.3407988334380838 0.0991808051852292 0.33585535338610994" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.0495904025926146 2.33585535338611" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.0495904025926146 -0.16792767669305497" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.0495904025926146 -0.16792767669305497" rpy="0 0 0"/>
            <geometry>
                <box size="0.3407988334380838 0.0991808051852292 0.33585535338610994" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.0495904025926146 -0.16792767669305497" rpy="0 0 0"/>
            <geometry>
                <box size="0.3407988334380838 0.0991808051852292 0.33585535338610994" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.4609353871252532 -0.4880062824877373" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4609353871252532 -0.4880062824877373" rpy="0 0 0"/>
            <geometry>
                <box size="0.8722580997768618 0.9218707742505065 0.9760125649754746" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4609353871252532 -0.4880062824877373" rpy="0 0 0"/>
            <geometry>
                <box size="0.8722580997768618 0.9218707742505065 0.9760125649754746" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.08124028940208738 -0.19188283000471862" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08124028940208738 -0.19188283000471862" rpy="0 0 0"/>
            <geometry>
                <box size="0.45128087340072565 0.16248057880417477 0.38376566000943724" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08124028940208738 -0.19188283000471862" rpy="0 0 0"/>
            <geometry>
                <box size="0.45128087340072565 0.16248057880417477 0.38376566000943724" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.22564043670036282 0.08124028940208738 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.3913920397983045 0 0.04068329217790034" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3913920397983045 0 0.04068329217790034" rpy="0 0 0"/>
            <geometry>
                <box size="0.782784079596609 0.9412143931827052 0.08136658435580069" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3913920397983045 0 0.04068329217790034" rpy="0 0 0"/>
            <geometry>
                <box size="0.782784079596609 0.9412143931827052 0.08136658435580069" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.3913920397983045 -0.4706071965913526 0.08136658435580069" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 -0.24574582688305951 -0.12817360810289652" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24574582688305951 -0.12817360810289652" rpy="0 0 0"/>
            <geometry>
                <box size="0.48208071964279786 0.49149165376611903 0.25634721620579304" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24574582688305951 -0.12817360810289652" rpy="0 0 0"/>
            <geometry>
                <box size="0.48208071964279786 0.49149165376611903 0.25634721620579304" />
            </geometry>
        </collision>
    </link>
</robot>