<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.155459413010851" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.155459413010851" rpy="0 0 0"/>
            <geometry>
                <box size="0.3223156724294949 0.294581095550299 0.3109188260217015" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.155459413010851" rpy="0 0 0"/>
            <geometry>
                <box size="0.3223156724294949 0.294581095550299 0.3109188260217015" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.1472905477751495 2.3109188260217017" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.1472905477751495 -0.15545941301085076" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1472905477751495 -0.15545941301085076" rpy="0 0 0"/>
            <geometry>
                <box size="0.3223156724294949 0.294581095550299 0.3109188260217015" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1472905477751495 -0.15545941301085076" rpy="0 0 0"/>
            <geometry>
                <box size="0.3223156724294949 0.294581095550299 0.3109188260217015" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.294581095550299 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.09781790410610397 0.035571958328015685" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.09781790410610397 0.035571958328015685" rpy="0 0 0"/>
            <geometry>
                <box size="0.6813649313378903 0.19563580821220794 0.07114391665603137" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.09781790410610397 0.035571958328015685" rpy="0 0 0"/>
            <geometry>
                <box size="0.6813649313378903 0.19563580821220794 0.07114391665603137" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.34068246566894517 0.09781790410610397 0.07114391665603137" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.4284247293584666 0 -0.40644791915281536" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4284247293584666 0 -0.40644791915281536" rpy="0 0 0"/>
            <geometry>
                <box size="0.8568494587169332 0.2660302690597136 0.8128958383056307" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4284247293584666 0 -0.40644791915281536" rpy="0 0 0"/>
            <geometry>
                <box size="0.8568494587169332 0.2660302690597136 0.8128958383056307" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.11803823599831714 0 -0.44598855865738013" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.11803823599831714 0 -0.44598855865738013" rpy="0 0 0"/>
            <geometry>
                <box size="0.23607647199663429 0.7757549624060208 0.8919771173147603" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.11803823599831714 0 -0.44598855865738013" rpy="0 0 0"/>
            <geometry>
                <box size="0.23607647199663429 0.7757549624060208 0.8919771173147603" />
            </geometry>
        </collision>
    </link>
</robot>