<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.2650504561166342" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.2650504561166342" rpy="0 0 0"/>
            <geometry>
                <box size="0.7444665788706344 0.008086098157171762 0.5301009122332686" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.2650504561166342" rpy="0 0 0"/>
            <geometry>
                <box size="0.7444665788706344 0.008086098157171762 0.5301009122332686" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.004043049078585881 2.5301009122332685" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.004043049078585881 -0.2650504561166343" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.004043049078585881 -0.2650504561166343" rpy="0 0 0"/>
            <geometry>
                <box size="0.7444665788706344 0.008086098157171762 0.5301009122332686" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.004043049078585881 -0.2650504561166343" rpy="0 0 0"/>
            <geometry>
                <box size="0.7444665788706344 0.008086098157171762 0.5301009122332686" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.10382203956899577 -0.46896812710387303" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.10382203956899577 -0.46896812710387303" rpy="0 0 0"/>
            <geometry>
                <box size="0.5430716309516954 0.20764407913799154 0.9379362542077461" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.10382203956899577 -0.46896812710387303" rpy="0 0 0"/>
            <geometry>
                <box size="0.5430716309516954 0.20764407913799154 0.9379362542077461" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.2715358154758477 -0.10382203956899577 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.17992319264751022 0 -0.2738375517576663" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17992319264751022 0 -0.2738375517576663" rpy="0 0 0"/>
            <geometry>
                <box size="0.35984638529502044 0.7419741784295539 0.5476751035153326" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17992319264751022 0 -0.2738375517576663" rpy="0 0 0"/>
            <geometry>
                <box size="0.35984638529502044 0.7419741784295539 0.5476751035153326" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.35984638529502044 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.1880380832633945 0 0.044137607115577904" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1880380832633945 0 0.044137607115577904" rpy="0 0 0"/>
            <geometry>
                <box size="0.376076166526789 0.1493007572871049 0.08827521423115581" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1880380832633945 0 0.044137607115577904" rpy="0 0 0"/>
            <geometry>
                <box size="0.376076166526789 0.1493007572871049 0.08827521423115581" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.376076166526789 0 0.08827521423115581" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.26161012582631615 0 -0.054523911283384074" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.26161012582631615 0 -0.054523911283384074" rpy="0 0 0"/>
            <geometry>
                <box size="0.5232202516526323 0.42872660557396847 0.10904782256676815" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.26161012582631615 0 -0.054523911283384074" rpy="0 0 0"/>
            <geometry>
                <box size="0.5232202516526323 0.42872660557396847 0.10904782256676815" />
            </geometry>
        </collision>
    </link>
</robot>